<section class="p-8 flex flex-col gap-4">
  <form class="flex w-full">
    <div class="flex md:flex-row flex-col gap-6 w-full">
      <select
        class="border border-zinc-300 rounded-md px-2 py-2 md:py-4 text-lg min-w-[260px]"
      >
        <option value="1">관공서 공매</option>
        <option value="2">금융/개인/회원사 공개매각</option>
        <option value="3">내차팔기</option>
      </select>
      <div class="flex items-center gap-2 w-full">
        <input
          type="text"
          id="name"
          class="border border-zinc-300 rounded-md px-2 py-2 md:py-4 text-sm w-full h-full"
        />
        <button
          class="text-white bg-[#A10076] rounded-md md:py-4 py-2 text-xl font-semibold self-center min-w-[100px] md:w-[140px]"
        >
          검색
        </button>
      </div>
    </div>
  </form>
  <article class="py-8">
    <table class="w-full! border-collapse text-zinc-600 sr-only md:not-sr-only">
      <thead class="bg-zinc-100">
        <tr class="bg-zinc-100">
          <th class="px-3 py-2.5 text-sm font-semibold text-center">번호</th>
          <th
            class="px-3 py-2.5 text-sm font-semibold text-center min-w-[400px]"
          >
            제목
          </th>
          <th class="px-3 py-2.5 text-sm font-semibold text-center"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="border-t border-[#d1d5db] text-center">
          <td class="p-4">13789</td>
          <td class="text-left p-4 text-lg">
            <span class="text-[#A10076] text-xl">Q </span>공매로 내차팔기는
            어떻게 진행되나요?
          </td>
          <td>
            <div
              class="w-6 h-6 text-zinc-600 rotate-270"
              style="
                mask: url('../assets/img/ic_arrow.svg') no-repeat center;
                -webkit-mask: url('../assets/img/ic_arrow.svg') no-repeat center;
                mask-size: contain;
                -webkit-mask-size: contain;
                background-color: currentColor;
              "
            ></div>
          </td>
        </tr>
        <tr class="border-b border-[#d1d5db] bg-white">
          <td></td>
          <td colspan="2" class="px-3 py-2.5 text-lg bg-white">
            <p class="whitespace-pre-line w-full">
              1. [공매로 내차팔기] 신청 : 오토마트 홈페이지 혹은 오토마트 APP
              이용 2. 오토마트 콜센터 전화상담
            </p>
          </td>
        </tr>

        <tr class="border-t border-[#d1d5db] text-center">
          <td class="p-4">13789</td>
          <td class="text-left p-4 text-lg">
            <span class="text-[#A10076] text-xl">Q </span>공매로 내차팔기는
            어떻게 진행되나요?
          </td>
          <td>
            <div
              class="w-6 h-6 text-zinc-600 rotate-270"
              style="
                mask: url('../assets/img/ic_arrow.svg') no-repeat center;
                -webkit-mask: url('../assets/img/ic_arrow.svg') no-repeat center;
                mask-size: contain;
                -webkit-mask-size: contain;
                background-color: currentColor;
              "
            ></div>
          </td>
        </tr>
        <tr class="border-t border-[#d1d5db] text-center">
          <td class="p-4">13789</td>
          <td class="text-left p-4 text-lg">
            <span class="text-[#A10076] text-xl">Q </span>공매로 내차팔기는
            어떻게 진행되나요?
          </td>
          <td>
            <div
              class="w-6 h-6 text-zinc-600 rotate-270"
              style="
                mask: url('../assets/img/ic_arrow.svg') no-repeat center;
                -webkit-mask: url('../assets/img/ic_arrow.svg') no-repeat center;
                mask-size: contain;
                -webkit-mask-size: contain;
                background-color: currentColor;
              "
            ></div>
          </td>
        </tr>
        <tr class="border-y border-[#d1d5db] text-center">
          <td class="p-4">13789</td>
          <td class="text-left p-4 text-lg">
            <span class="text-[#A10076] text-xl">Q </span>공매로 내차팔기는
            어떻게 진행되나요?
          </td>
          <td>
            <div
              class="w-6 h-6 text-zinc-600 rotate-270"
              style="
                mask: url('../assets/img/ic_arrow.svg') no-repeat center;
                -webkit-mask: url('../assets/img/ic_arrow.svg') no-repeat center;
                mask-size: contain;
                -webkit-mask-size: contain;
                background-color: currentColor;
              "
            ></div>
          </td>
        </tr>
      </tbody>
    </table>
    <div id="faq-pagination" class="mt-8 sr-only md:not-sr-only"></div>

    <div class="flex flex-col gap-4 border-b border-zinc-300 py-4 md:sr-only">
      <div class="grid grid-cols-5 gap-4">
        <span
          class="text-xl text-[#A10076] col-span-1 flex items-center justify-center"
          >Q</span
        >
        <div class="col-span-3 flex flex-col text-zinc-600">
          <p class="text-xs">내차팔기</p>
          <p class="text-sm font-semibold">
            공매로 내차팔기는 어떻게 진행되나요?
          </p>
        </div>
        <div class="col-span-1 flex items-center justify-center">
          <div
            class="w-6 h-6 text-zinc-600 rotate-270"
            style="
              mask: url('../assets/img/ic_arrow.svg') no-repeat center;
              -webkit-mask: url('../assets/img/ic_arrow.svg') no-repeat center;
              mask-size: contain;
              -webkit-mask-size: contain;
              background-color: currentColor;
            "
          ></div>
        </div>
      </div>
    </div>

    <div class="flex flex-col gap-4 border-b border-zinc-300 py-4 md:sr-only">
      <div class="grid grid-cols-5 gap-4">
        <span
          class="text-xl text-[#A10076] col-span-1 flex items-center justify-center"
          >Q</span
        >
        <div class="col-span-3 flex flex-col text-zinc-600">
          <p class="text-xs">내차팔기</p>
          <p class="text-sm font-semibold">
            공매로 내차팔기는 어떻게 진행되나요?
          </p>
        </div>
        <div class="col-span-1 flex items-center justify-center">
          <div
            class="w-6 h-6 text-zinc-600 rotate-270"
            style="
              mask: url('../assets/img/ic_arrow.svg') no-repeat center;
              -webkit-mask: url('../assets/img/ic_arrow.svg') no-repeat center;
              mask-size: contain;
              -webkit-mask-size: contain;
              background-color: currentColor;
            "
          ></div>
        </div>
      </div>
    </div>

    <div class="flex flex-col gap-4 border-b border-zinc-300 py-4 md:sr-only">
      <div class="grid grid-cols-5 gap-4">
        <span
          class="text-xl text-[#A10076] col-span-1 flex items-center justify-center"
          >Q</span
        >
        <div class="col-span-3 flex flex-col text-zinc-600">
          <p class="text-xs">내차팔기</p>
          <p class="text-sm font-semibold">
            공매로 내차팔기는 어떻게 진행되나요?
          </p>
        </div>
        <div class="col-span-1 flex items-center justify-center">
          <div
            class="w-6 h-6 text-zinc-600 rotate-270"
            style="
              mask: url('../assets/img/ic_arrow.svg') no-repeat center;
              -webkit-mask: url('../assets/img/ic_arrow.svg') no-repeat center;
              mask-size: contain;
              -webkit-mask-size: contain;
              background-color: currentColor;
            "
          ></div>
        </div>
      </div>
    </div>

    <div class="flex flex-col gap-4 border-b border-zinc-300 py-4 md:sr-only">
      <div class="grid grid-cols-5 gap-4">
        <span
          class="text-xl text-[#A10076] col-span-1 flex items-center justify-center"
          >Q</span
        >
        <div class="col-span-3 flex flex-col text-zinc-600">
          <p class="text-xs">내차팔기</p>
          <p class="text-sm font-semibold">
            공매로 내차팔기는 어떻게 진행되나요?
          </p>
        </div>
        <div class="col-span-1 flex items-center justify-center">
          <div
            class="w-6 h-6 text-zinc-600 rotate-270"
            style="
              mask: url('../assets/img/ic_arrow.svg') no-repeat center;
              -webkit-mask: url('../assets/img/ic_arrow.svg') no-repeat center;
              mask-size: contain;
              -webkit-mask-size: contain;
              background-color: currentColor;
            "
          ></div>
        </div>
      </div>
    </div>

    <div class="flex flex-col gap-4 border-b border-zinc-300 py-4 md:sr-only">
      <div class="grid grid-cols-5 gap-4">
        <span
          class="text-xl text-[#A10076] col-span-1 flex items-center justify-center"
          >Q</span
        >
        <div class="col-span-3 flex flex-col text-zinc-600">
          <p class="text-xs">내차팔기</p>
          <p class="text-sm font-semibold">
            공매로 내차팔기는 어떻게 진행되나요?
          </p>
        </div>
        <div class="col-span-1 flex items-center justify-center">
          <div
            class="w-6 h-6 text-zinc-600 rotate-270"
            style="
              mask: url('../assets/img/ic_arrow.svg') no-repeat center;
              -webkit-mask: url('../assets/img/ic_arrow.svg') no-repeat center;
              mask-size: contain;
              -webkit-mask-size: contain;
              background-color: currentColor;
            "
          ></div>
        </div>
      </div>
    </div>
  </article>
</section>
