<section class="p-8 flex flex-col gap-4 items-center justify-center">
  <h1 class="text-[30px] md:text-[34px]">로그인</h1>
  <div
    class="p-6 md:p-16 border border-zinc-300 rounded-md flex flex-col mb-16 w-[500px]"
  >
    <span class="text-base md:text-xl font-medium mb-2">아이디</span>
    <input
      type="text"
      class="border border-zinc-300 rounded-md px-2 py-2 md:py-4 text-sm w-full mb-4"
    />
    <span class="text-base md:text-xl font-medium mb-2">비밀번호</span>
    <input
      type="password"
      class="border border-zinc-300 rounded-md px-2 py-2 md:py-4 text-sm w-full"
    />
    <span class="text-left !py-4 flex items-center gap-2">
      <input type="checkbox" class="size-4 md:size-6" />
      <span class="text-sm md:text-base">아이디 저장</span>
    </span>
    <button class="bg-[#A10076] text-white rounded-md px-4 py-2 w-full">
      로그인
    </button>
    <div class="grid grid-cols-29 mt-8">
      <a href="#" class="text-sm md:text-lg col-span-8 text-center"
        >아이디 찾기</a
      >
      <span
        class="text-[13px] md:text-base col-span-1 flex items-center justify-center"
        >|</span
      >
      <a href="#" class="text-sm md:text-lg col-span-11 text-center"
        >비밀번호 찾기</a
      >
      <span
        class="text-[13px] md:text-base col-span-1 flex items-center justify-center"
        >|</span
      >
      <a href="#" class="text-sm md:text-lg col-span-8 text-center">회원가입</a>
    </div>
  </div>
</section>
