<section class="p-8 flex flex-col gap-4 items-center justify-center">
  <h1 class="text-[30px] md:text-[34px]">비밀번호 찾기 결과</h1>
  <div
    class="p-6 md:p-16 border border-zinc-300 rounded-md flex flex-col mb-16 w-[500px]"
  >
    <article
      class="flex flex-col gap-2 text-sm md:text-lg font-medium items-center mb-4"
    >
      <span>회원(홍길동)님의 회원(임영순)님의</span>
      <span>비밀번호가 초기화 되어</span>
      <span>[010-1234-5678]로 발송되었습니다.</span>
    </article>
    <span class="text-base md:text-xl font-medium mb-2">휴대폰</span>
    <input
      type="tel"
      class="border border-zinc-300 rounded-md px-2 py-2 md:py-4 text-sm w-full"
      placeholder="010-1234-5678"
    />
    <span class="text-sm md:text-base text-[#A10076] mt-4"
      >회원가입당시 등록한 휴대폰번호로 비밀번호를 발송합니다.</span
    >
    <button
      class="bg-zinc-100 text-zinc-600 rounded-md px-4 py-2 w-full mt-6 border border-zinc-300"
    >
      닫기
    </button>
  </div>
</section>
