<section class="p-8 flex flex-col gap-4 items-center justify-center">
  <h1 class="text-[30px] md:text-[34px]">아이디 찾기 결과</h1>
  <div
    class="p-6 md:p-16 border border-zinc-300 rounded-md flex flex-col mb-16 w-[500px]"
  >
    <article
      class="flex flex-col gap-2 text-sm md:text-lg font-medium items-center mb-4"
    >
      <span>회원(홍길동)님은 2025년 07월 15일</span>
      <span>오토마트 회원으로 가입하셨습니다</span>
      <br />
      <span>회원님의 아이디는</span>
      <span>[ zero*** (뒤의 3자리는 * 표기)]</span>
    </article>
    <span class="text-base md:text-xl font-medium mb-2">휴대폰</span>
    <input
      type="tel"
      class="border border-zinc-300 rounded-md px-2 py-2 md:py-4 text-sm w-full"
      placeholder="010-1234-5678"
    />
    <span class="text-sm md:text-base text-[#A10076] mt-4"
      >회원가입당시 등록한 휴대폰번호로 아이디를 발송합니다.</span
    >
    <button class="bg-[#A10076] text-white rounded-md px-4 py-2 w-full mt-6">
      휴대폰전송
    </button>
  </div>
</section>
