<div class="w-full flex flex-col gap-12">
  <div class="w-full bg-zinc-50 p-8 rounded-lg text-center flex flex-col gap-2">
    <h2 class="text-[#A10076] font-bold text-lg md:text-xl">
      오토마트 수입차 Bigdata 분석 [관공서/금융기관, 2013년~2022년]
    </h2>
    <p class="text-zinc-600 text-xs md:text-sm leading-relaxed">
      오토마트 수입차 Bigdata 분석은 관공서와 금융기관의 2013년부터 2022년까지
      데이터를 발표일 기준으로 분석한 결과로<br class="hidden md:block" />
      10년간 낙찰가 5,333억원, 낙찰율 94%로 고객만족도가 높고 오토마트가 우수
      공경매 브랜드로 판단됨
    </p>
  </div>

  <div
    class="w-1/2 flex flex-col md:flex-row justify-center items-center gap-8 md:gap-4 relative self-center"
  >
    <img
      src="../../assets/img/img_bigData_analyze.png"
      alt="bigData_analyze"
      class="w-full h-full object-contain"
    />
  </div>

  <div class="flex flex-col gap-12">
    <div class="w-full bg-zinc-50 rounded-lg p-8 flex flex-col items-center">
      <div
        class="w-full h-[300px] border-2 border-dashed border-zinc-300 flex items-center justify-center rounded text-zinc-400"
      >
        [ 수입차 낙찰가 / 낙찰차량수 차트 영역 ]
      </div>
    </div>

    <div class="w-full flex flex-col items-center gap-4">
      <h3 class="font-bold text-zinc-800 text-lg">
        수입차 낙찰율 (94.0%) vs 유찰율 (6.0%)
      </h3>
      <div
        class="w-full max-w-4xl h-[300px] border-2 border-dashed border-zinc-300 flex items-center justify-center rounded text-zinc-400"
      >
        [ 낙찰율 vs 유찰율 막대그래프 영역 ]
      </div>
    </div>
  </div>

  <div class="lg:sr-only w-full flex flex-col gap-4">
    <h3 class="text-[#A10076] font-bold text-lg">공매/공개매각</h3>
    <table
      class="w-full border-collapse text-xs md:text-sm text-center border-t border-zinc-200"
    >
      <tbody>
        <tr class="border-b border-zinc-200">
          <td
            class="bg-zinc-100 font-bold text-zinc-700 w-[25%] border-r border-zinc-200"
          >
            관공서
          </td>
          <td class="p-0">
            <div class="flex border-b border-zinc-100">
              <div class="w-1/2 p-2 border-r border-zinc-100 text-zinc-600">
                낙찰차량수
              </div>
              <div class="w-1/2 p-2 text-zinc-800">5,318</div>
            </div>
            <div class="flex border-b border-zinc-100">
              <div class="w-1/2 p-2 border-r border-zinc-100 text-zinc-600">
                유찰차량수
              </div>
              <div class="w-1/2 p-2 text-zinc-800">36</div>
            </div>
            <div class="flex border-b border-zinc-100">
              <div class="w-1/2 p-2 border-r border-zinc-100 text-zinc-600">
                전체차량수
              </div>
              <div class="w-1/2 p-2 text-zinc-800">5,354</div>
            </div>
            <div class="flex border-b border-zinc-100 bg-pink-50">
              <div class="w-1/2 p-2 border-r border-pink-100 text-zinc-600">
                낙찰율
              </div>
              <div class="w-1/2 p-2 font-bold text-zinc-800">99.3%</div>
            </div>
            <div class="flex border-b border-zinc-100 bg-pink-50">
              <div class="w-1/2 p-2 border-r border-pink-100 text-zinc-600">
                유찰율
              </div>
              <div class="w-1/2 p-2 font-bold text-zinc-800">0.7%</div>
            </div>
            <div class="flex border-b border-zinc-100 bg-pink-50">
              <div class="w-1/2 p-2 border-r border-pink-100 text-zinc-600">
                낙찰가
              </div>
              <div class="w-1/2 p-2 font-bold text-zinc-800">
                41,343,653,000
              </div>
            </div>
            <div class="flex border-b border-zinc-100">
              <div class="w-1/2 p-2 border-r border-zinc-100 text-zinc-600">
                낙찰가구성비
              </div>
              <div class="w-1/2 p-2 text-zinc-800">7.8%</div>
            </div>
            <div class="flex">
              <div class="w-1/2 p-2 border-r border-zinc-100 text-zinc-600">
                낙찰평균단가
              </div>
              <div class="w-1/2 p-2 text-zinc-800">7,774,286</div>
            </div>
          </td>
        </tr>

        <tr class="border-b border-[#A10076]">
          <td
            class="bg-zinc-100 font-bold text-zinc-700 w-[25%] border-r border-zinc-200"
          >
            금융기관
          </td>
          <td class="p-0">
            <div class="flex border-b border-zinc-100">
              <div class="w-1/2 p-2 border-r border-zinc-100 text-zinc-600">
                낙찰차량수
              </div>
              <div class="w-1/2 p-2 text-zinc-800">12,432</div>
            </div>
            <div class="flex border-b border-zinc-100">
              <div class="w-1/2 p-2 border-r border-zinc-100 text-zinc-600">
                유찰차량수
              </div>
              <div class="w-1/2 p-2 text-zinc-800">1,091</div>
            </div>
            <div class="flex border-b border-zinc-100">
              <div class="w-1/2 p-2 border-r border-zinc-100 text-zinc-600">
                전체차량수
              </div>
              <div class="w-1/2 p-2 text-zinc-800">13,523</div>
            </div>
            <div class="flex border-b border-zinc-100 bg-pink-50">
              <div class="w-1/2 p-2 border-r border-pink-100 text-zinc-600">
                낙찰율
              </div>
              <div class="w-1/2 p-2 font-bold text-zinc-800">91.9%</div>
            </div>
            <div class="flex border-b border-zinc-100 bg-pink-50">
              <div class="w-1/2 p-2 border-r border-pink-100 text-zinc-600">
                유찰율
              </div>
              <div class="w-1/2 p-2 font-bold text-zinc-800">8.1%</div>
            </div>
            <div class="flex border-b border-zinc-100 bg-pink-50">
              <div class="w-1/2 p-2 border-r border-pink-100 text-zinc-600">
                낙찰가
              </div>
              <div class="w-1/2 p-2 font-bold text-zinc-800">
                491,972,993,000
              </div>
            </div>
            <div class="flex border-b border-zinc-100">
              <div class="w-1/2 p-2 border-r border-zinc-100 text-zinc-600">
                낙찰가구성비
              </div>
              <div class="w-1/2 p-2 text-zinc-800">92.2%</div>
            </div>
            <div class="flex">
              <div class="w-1/2 p-2 border-r border-zinc-100 text-zinc-600">
                낙찰평균단가
              </div>
              <div class="w-1/2 p-2 text-zinc-800">39,573,117</div>
            </div>
          </td>
        </tr>

        <tr class="bg-zinc-50 border-b border-[#A10076]">
          <td
            class="bg-zinc-100 font-bold text-zinc-700 w-[25%] border-r border-zinc-200"
          >
            관공서
          </td>
          <td class="p-0">
            <div class="flex border-b border-zinc-100">
              <div class="w-1/2 p-2 border-r border-zinc-100 text-zinc-600">
                낙찰차량수
              </div>
              <div class="w-1/2 p-2 text-[#A10076] font-bold">17,750</div>
            </div>
            <div class="flex border-b border-zinc-100">
              <div class="w-1/2 p-2 border-r border-zinc-100 text-zinc-600">
                유찰차량수
              </div>
              <div class="w-1/2 p-2 text-[#A10076] font-bold">1,127</div>
            </div>
            <div class="flex border-b border-zinc-100">
              <div class="w-1/2 p-2 border-r border-zinc-100 text-zinc-600">
                전체차량수
              </div>
              <div class="w-1/2 p-2 text-[#A10076] font-bold">18,877</div>
            </div>
            <div class="flex border-b border-zinc-100 bg-pink-50">
              <div class="w-1/2 p-2 border-r border-pink-100 text-zinc-600">
                낙찰율
              </div>
              <div class="w-1/2 p-2 text-[#A10076] font-bold">94%</div>
            </div>
            <div class="flex border-b border-zinc-100 bg-pink-50">
              <div class="w-1/2 p-2 border-r border-pink-100 text-zinc-600">
                유찰율
              </div>
              <div class="w-1/2 p-2 text-[#A10076] font-bold">6%</div>
            </div>
            <div class="flex border-b border-zinc-100 bg-pink-50">
              <div class="w-1/2 p-2 border-r border-pink-100 text-zinc-600">
                낙찰가
              </div>
              <div class="w-1/2 p-2 text-[#A10076] font-bold">
                533,316,646,000
              </div>
            </div>
            <div class="flex border-b border-zinc-100">
              <div class="w-1/2 p-2 border-r border-zinc-100 text-zinc-600">
                낙찰가구성비
              </div>
              <div class="w-1/2 p-2 text-[#A10076] font-bold">100%</div>
            </div>
            <div class="flex">
              <div class="w-1/2 p-2 border-r border-zinc-100 text-zinc-600">
                낙찰평균단가
              </div>
              <div class="w-1/2 p-2 text-[#A10076] font-bold">30,046,008</div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="lg:sr-only w-full flex flex-col gap-4">
    <h3 class="text-[#A10076] font-bold text-lg">입찰그룹</h3>
    <table
      class="w-full border-collapse text-xs md:text-sm text-center border-t border-zinc-200"
    >
      <tbody>
        <tr class="border-b border-zinc-200">
          <td
            class="bg-zinc-100 font-bold text-zinc-700 w-[25%] border-r border-zinc-200"
          >
            상사
          </td>
          <td class="p-0">
            <div class="flex border-b border-zinc-100">
              <div class="w-1/2 p-2 border-r border-zinc-100 text-zinc-600">
                낙찰차량수
              </div>
              <div class="w-1/2 p-2 text-zinc-800">3,567</div>
            </div>
            <div class="flex border-b border-zinc-100">
              <div class="w-1/2 p-2 border-r border-zinc-100 text-zinc-600">
                차량수구성비
              </div>
              <div class="w-1/2 p-2 text-zinc-800">20.1%</div>
            </div>
            <div class="flex border-b border-zinc-100 bg-pink-50">
              <div class="w-1/2 p-2 border-r border-pink-100 text-zinc-600">
                낙찰가
              </div>
              <div class="w-1/2 p-2 font-bold text-zinc-800">
                118,323,758,000
              </div>
            </div>
            <div class="flex border-b border-zinc-100">
              <div class="w-1/2 p-2 border-r border-zinc-100 text-zinc-600">
                낙찰가구성비
              </div>
              <div class="w-1/2 p-2 text-zinc-800">22.2%</div>
            </div>
            <div class="flex border-b border-zinc-100">
              <div class="w-1/2 p-2 border-r border-zinc-100 text-zinc-600">
                예정가
              </div>
              <div class="w-1/2 p-2 text-zinc-800">107,487,930,577</div>
            </div>
            <div class="flex border-b border-zinc-100">
              <div class="w-1/2 p-2 border-r border-zinc-100 text-zinc-600">
                낙찰가/예정가
              </div>
              <div class="w-1/2 p-2 text-zinc-800">110.1%</div>
            </div>
            <div class="flex">
              <div class="w-1/2 p-2 border-r border-zinc-100 text-zinc-600">
                낙찰평균단가
              </div>
              <div class="w-1/2 p-2 text-zinc-800">33,171,785</div>
            </div>
          </td>
        </tr>

        <tr class="border-b border-zinc-200">
          <td
            class="bg-zinc-100 font-bold text-zinc-700 w-[25%] border-r border-zinc-200"
          >
            법인
          </td>
          <td class="p-0">
            <div class="flex border-b border-zinc-100">
              <div class="w-1/2 p-2 border-r border-zinc-100 text-zinc-600">
                낙찰차량수
              </div>
              <div class="w-1/2 p-2 text-zinc-800">7,253</div>
            </div>
            <div class="flex border-b border-zinc-100">
              <div class="w-1/2 p-2 border-r border-zinc-100 text-zinc-600">
                차량수구성비
              </div>
              <div class="w-1/2 p-2 text-zinc-800">40.9%</div>
            </div>
            <div class="flex border-b border-zinc-100 bg-pink-50">
              <div class="w-1/2 p-2 border-r border-pink-100 text-zinc-600">
                낙찰가
              </div>
              <div class="w-1/2 p-2 font-bold text-zinc-800">
                304,857,771,000
              </div>
            </div>
            <div class="flex border-b border-zinc-100">
              <div class="w-1/2 p-2 border-r border-zinc-100 text-zinc-600">
                낙찰가구성비
              </div>
              <div class="w-1/2 p-2 text-zinc-800">57.2%</div>
            </div>
            <div class="flex border-b border-zinc-100">
              <div class="w-1/2 p-2 border-r border-zinc-100 text-zinc-600">
                예정가
              </div>
              <div class="w-1/2 p-2 text-zinc-800">274,664,115,116</div>
            </div>
            <div class="flex border-b border-zinc-100">
              <div class="w-1/2 p-2 border-r border-zinc-100 text-zinc-600">
                낙찰가/예정가
              </div>
              <div class="w-1/2 p-2 text-zinc-800">111.%</div>
            </div>
            <div class="flex">
              <div class="w-1/2 p-2 border-r border-zinc-100 text-zinc-600">
                낙찰평균단가
              </div>
              <div class="w-1/2 p-2 text-zinc-800">42,031,955</div>
            </div>
          </td>
        </tr>

        <tr class="border-b border-[#A10076]">
          <td
            class="bg-zinc-100 font-bold text-zinc-700 w-[25%] border-r border-zinc-200"
          >
            개인
          </td>
          <td class="p-0">
            <div class="flex border-b border-zinc-100">
              <div class="w-1/2 p-2 border-r border-zinc-100 text-zinc-600">
                낙찰차량수
              </div>
              <div class="w-1/2 p-2 text-zinc-800">6,930</div>
            </div>
            <div class="flex border-b border-zinc-100">
              <div class="w-1/2 p-2 border-r border-zinc-100 text-zinc-600">
                차량수구성비
              </div>
              <div class="w-1/2 p-2 text-zinc-800">39.%</div>
            </div>
            <div class="flex border-b border-zinc-100 bg-pink-50">
              <div class="w-1/2 p-2 border-r border-pink-100 text-zinc-600">
                낙찰가
              </div>
              <div class="w-1/2 p-2 font-bold text-zinc-800">
                110,135,117,000
              </div>
            </div>
            <div class="flex border-b border-zinc-100">
              <div class="w-1/2 p-2 border-r border-zinc-100 text-zinc-600">
                낙찰가구성비
              </div>
              <div class="w-1/2 p-2 text-zinc-800">20.7%</div>
            </div>
            <div class="flex border-b border-zinc-100">
              <div class="w-1/2 p-2 border-r border-zinc-100 text-zinc-600">
                예정가
              </div>
              <div class="w-1/2 p-2 text-zinc-800">96,027,373,960</div>
            </div>
            <div class="flex border-b border-zinc-100">
              <div class="w-1/2 p-2 border-r border-zinc-100 text-zinc-600">
                낙찰가/예정가
              </div>
              <div class="w-1/2 p-2 text-zinc-800">114.7%</div>
            </div>
            <div class="flex">
              <div class="w-1/2 p-2 border-r border-zinc-100 text-zinc-600">
                낙찰평균단가
              </div>
              <div class="w-1/2 p-2 text-zinc-800">15,892,513</div>
            </div>
          </td>
        </tr>

        <tr class="bg-zinc-50 border-b border-[#A10076]">
          <td
            class="bg-zinc-100 font-bold text-[#A10076] w-[25%] border-r border-zinc-200"
          >
            합계
          </td>
          <td class="p-0">
            <div class="flex border-b border-zinc-100">
              <div class="w-1/2 p-2 border-r border-zinc-100 text-zinc-600">
                낙찰차량수
              </div>
              <div class="w-1/2 p-2 text-[#A10076] font-bold">17,750</div>
            </div>
            <div class="flex border-b border-zinc-100">
              <div class="w-1/2 p-2 border-r border-zinc-100 text-zinc-600">
                차량수구성비
              </div>
              <div class="w-1/2 p-2 text-[#A10076] font-bold">100%</div>
            </div>
            <div class="flex border-b border-zinc-100 bg-pink-50">
              <div class="w-1/2 p-2 border-r border-pink-100 text-zinc-600">
                낙찰가
              </div>
              <div class="w-1/2 p-2 text-[#A10076] font-bold">
                533,316,646,000
              </div>
            </div>
            <div class="flex border-b border-zinc-100">
              <div class="w-1/2 p-2 border-r border-zinc-100 text-zinc-600">
                낙찰가구성비
              </div>
              <div class="w-1/2 p-2 text-[#A10076] font-bold">100%</div>
            </div>
            <div class="flex border-b border-zinc-100">
              <div class="w-1/2 p-2 border-r border-zinc-100 text-zinc-600">
                예정가
              </div>
              <div class="w-1/2 p-2 text-[#A10076] font-bold">
                478,179,419,653
              </div>
            </div>
            <div class="flex border-b border-zinc-100">
              <div class="w-1/2 p-2 border-r border-zinc-100 text-zinc-600">
                낙찰가/예정가
              </div>
              <div class="w-1/2 p-2 text-[#A10076] font-bold">111.5%</div>
            </div>
            <div class="flex">
              <div class="w-1/2 p-2 border-r border-zinc-100 text-zinc-600">
                낙찰평균단가
              </div>
              <div class="w-1/2 p-2 text-[#A10076] font-bold">30,046,008</div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="sr-only lg:not-sr-only w-full flex flex-col gap-4">
    <table class="w-full min-w-[1000px] border-collapse text-center text-sm">
      <thead>
        <tr class="bg-[#A10076] text-white h-12">
          <th class="border border-white/20 font-medium">공매/공개매각</th>
          <th class="border border-white/20 font-medium">낙찰차량수</th>
          <th class="border border-white/20 font-medium">유찰차량수</th>
          <th class="border border-white/20 font-medium">전체차량수</th>
          <th class="border border-white/20 font-medium">낙찰율</th>
          <th class="border border-white/20 font-medium">유찰율</th>
          <th class="border border-white/20 font-medium w-[15%]">낙찰가</th>
          <th class="border border-white/20 font-medium">낙찰가 구성비</th>
          <th class="border border-white/20 font-medium">낙찰평균단가</th>
        </tr>
      </thead>
      <tbody class="text-zinc-700">
        <tr class="h-12 border-b border-zinc-200 bg-zinc-50">
          <td class="border border-zinc-200">관공서</td>
          <td class="border border-zinc-200">5,318</td>
          <td class="border border-zinc-200">36</td>
          <td class="border border-zinc-200">5,354</td>
          <td class="border border-zinc-200 font-bold">99.3%</td>
          <td class="border border-zinc-200 font-bold">0.7%</td>
          <td class="border border-zinc-200 text-right pr-4 font-bold">
            41,343,653,000
          </td>
          <td class="border border-zinc-200">7.8%</td>
          <td class="border border-zinc-200 text-right pr-4">7,774,286</td>
        </tr>
        <tr class="h-12 border-b border-zinc-200">
          <td class="border border-zinc-200">금융기관</td>
          <td class="border border-zinc-200">12,432</td>
          <td class="border border-zinc-200">1,091</td>
          <td class="border border-zinc-200">13,523</td>
          <td class="border border-zinc-200 font-bold">91.9%</td>
          <td class="border border-zinc-200 font-bold">8.1%</td>
          <td class="border border-zinc-200 text-right pr-4 font-bold">
            491,972,993,000
          </td>
          <td class="border border-zinc-200">92.2%</td>
          <td class="border border-zinc-200 text-right pr-4">39,573,117</td>
        </tr>
        <tr class="h-12 bg-pink-50 text-[#A10076] font-bold">
          <td class="border border-pink-100">합계</td>
          <td class="border border-pink-100">17,750</td>
          <td class="border border-pink-100">1,127</td>
          <td class="border border-pink-100">18,877</td>
          <td class="border border-pink-100">94%</td>
          <td class="border border-pink-100">6%</td>
          <td class="border border-pink-100 text-right pr-4">
            533,316,646,000
          </td>
          <td class="border border-pink-100">100%</td>
          <td class="border border-pink-100 text-right pr-4">30,046,008</td>
        </tr>
      </tbody>
    </table>

    <table class="w-full min-w-[1000px] border-collapse text-center text-sm">
      <thead>
        <tr class="bg-[#A10076] text-white h-12">
          <th class="border border-white/20 font-medium">입찰그룹</th>
          <th class="border border-white/20 font-medium">낙찰차량수</th>
          <th class="border border-white/20 font-medium">차량수구성비</th>
          <th class="border border-white/20 font-medium">낙찰가구성비</th>
          <th class="border border-white/20 font-medium w-[15%]">낙찰가</th>
          <th class="border border-white/20 font-medium w-[15%]">예정가</th>
          <th class="border border-white/20 font-medium">낙찰가/예정가</th>
          <th class="border border-white/20 font-medium">낙찰평균단가</th>
        </tr>
      </thead>
      <tbody class="text-zinc-700">
        <tr class="h-12 border-b border-zinc-200 bg-zinc-50">
          <td class="border border-zinc-200">상사</td>
          <td class="border border-zinc-200">3,567</td>
          <td class="border border-zinc-200">20.1%</td>
          <td class="border border-zinc-200">22.2%</td>
          <td class="border border-zinc-200 text-right pr-4 font-bold">
            118,323,758,000
          </td>
          <td class="border border-zinc-200 text-right pr-4">
            107,487,930,577
          </td>
          <td class="border border-zinc-200">110.1%</td>
          <td class="border border-zinc-200 text-right pr-4">33,171,785</td>
        </tr>
        <tr class="h-12 border-b border-zinc-200">
          <td class="border border-zinc-200">법인</td>
          <td class="border border-zinc-200">7,253</td>
          <td class="border border-zinc-200">40.9%</td>
          <td class="border border-zinc-200">57.2%</td>
          <td class="border border-zinc-200 text-right pr-4 font-bold">
            304,857,771,000
          </td>
          <td class="border border-zinc-200 text-right pr-4">
            274,664,115,116
          </td>
          <td class="border border-zinc-200">111.%</td>
          <td class="border border-zinc-200 text-right pr-4">42,031,955</td>
        </tr>
        <tr class="h-12 border-b border-zinc-200 bg-zinc-50">
          <td class="border border-zinc-200">개인</td>
          <td class="border border-zinc-200">6,930</td>
          <td class="border border-zinc-200">39.%</td>
          <td class="border border-zinc-200">20.7%</td>
          <td class="border border-zinc-200 text-right pr-4 font-bold">
            110,135,117,000
          </td>
          <td class="border border-zinc-200 text-right pr-4">96,027,373,960</td>
          <td class="border border-zinc-200">114.7%</td>
          <td class="border border-zinc-200 text-right pr-4">15,892,513</td>
        </tr>
        <tr class="h-12 bg-pink-50 text-[#A10076] font-bold">
          <td class="border border-pink-100">합계</td>
          <td class="border border-pink-100">17,750</td>
          <td class="border border-pink-100">100%</td>
          <td class="border border-pink-100">100%</td>
          <td class="border border-pink-100 text-right pr-4">
            533,316,646,000
          </td>
          <td class="border border-pink-100 text-right pr-4">
            478,179,419,653
          </td>
          <td class="border border-pink-100">111.5%</td>
          <td class="border border-pink-100 text-right pr-4">30,046,008</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="text-sm text-zinc-600 leading-relaxed break-keep">
    <span class="font-bold text-black mr-1">※ 수입차 :</span>
    BMW, 벤츠, 아우디, 폭스바겐, 도요타, 랜드로버, 렉서스, 포드, 닛산, 닷지,
    링컨, 벤틀리, 볼보, 사브, 인피니티, 재규어, 지프, 크라이슬러, 포르쉐,
    폰티악, 푸조, 피아트, 혼다, 기타외제차(트럭등)
  </div>
</div>
