<div
  id="overlap-popup-overlay"
  class="fixed inset-0 bg-transparent z-50 flex items-center justify-center"
>
  <div
    class="bg-white rounded-lg w-[70%] max-w-[600px] shadow-lg flex flex-col p-8 min-w-[300px]"
  >
    <div
      class="flex items-center justify-between px-4 py-6 md:border-b border-zinc-300"
    >
      <div
        class="flex items-center gap-2 w-[132px] md:w-[228px] justify-center"
      >
        <img src="../../assets/img/logo.png" alt="AUTOMART" />
      </div>
      <button
        class="text-black border border-zinc-300 rounded-md px-4 py-2 flex items-center justify-center gap-2"
      >
        <span class="text-lg sr-only md:not-sr-only">닫기</span>
        <div
          class="size-4 text-black"
          style="
            mask: url('../assets/img/ic_close.svg') no-repeat center;
            -webkit-mask: url('../assets/img/ic_close.svg') no-repeat center;
            mask-size: contain;
            -webkit-mask-size: contain;
            background-color: currentColor;
          "
        ></div>
      </button>
    </div>
    <div
      class="flex flex-col items-center justify-center md:p-16 gap-6 md:border border-zinc-300 rounded-md mt-8"
    >
      <h2 class="text-2xl md:text-[34px] text-center">전송완료</h2>

      <p
        class="text-sm md:text-lg text-center leading-relaxed border-y border-zinc-300 py-4 w-full"
      >
        회원(홍길동)님의 아이디가<br />010-1234-5678로 발송되었습니다.
      </p>
      <p class="py-8 md:py-16 md:text-lg text-sm text-center text-zinc-600">
        문제발생시 오토마트로 연락바랍니다.
      </p>
      <button
        class="bg-zinc-100 text-black border border-zinc-300 rounded-md px-4 py-2 flex items-center justify-center gap-2 w-full"
      >
        <span class="text-lg">닫기</span>
      </button>
    </div>
  </div>
</div>
