<section class="p-8 flex flex-col gap-4">
  <h1 class="text-2xl md:text-[34px] font-bol mt-16">회원가입</h1>
  <span class="text-xl"
    >오토마트에 오신 것을 환영합니다. 회원가입 여부와 상관없이 입찰이
    가능합니다.</span
  >
  <span class="text-xl"
    >회원가입은 개인/매매상사/법인 등의 구분없이 개인으로만 가입할 수
    있습니다.</span
  >
  <div class="py-16 flex flex-col w-full items-center justify-center">
    <div class="flex items-center justify-center w-full px-4 md:px-9">
      <div class="flex items-center justify-start w-1/3 md:w-1/2">
        <div
          class="rounded-full border-[3px] md:border-[4px] border-zinc-300 flex items-center justify-center min-w-12 md:min-w-16 h-12 md:h-16"
        >
          <span class="text-base md:text-2xl font-semibold text-zinc-300"
            >1</span
          >
        </div>
        <div class="flex items-center justify-center w-full">
          <hr class="w-full border-zinc-300 border-t-2" />
        </div>
      </div>

      <div class="flex items-center justify-start w-1/4">
        <div
          class="rounded-full border-[3px] md:border-[4px] border-[#A10076] flex items-center justify-center min-w-12 md:min-w-16 h-12 md:h-16"
        >
          <span class="text-base md:text-2xl font-semibold text-[#A10076]"
            >2</span
          >
        </div>
        <div class="flex items-center justify-center w-full">
          <hr class="w-full border-[#A10076] border-t-2" />
        </div>
      </div>

      <div class="flex items-center justify-start w-1/4">
        <div class="flex items-center justify-center w-full">
          <hr class="w-full border-[#A10076] border-t-2" />
          <div
            class="w-4 h-4 bg-[#A10076]"
            style="clip-path: polygon(0 0, 57% 48%, 0 100%, 28% 46%)"
          ></div>
        </div>
        <div
          class="rounded-full border-[3px] md:border-[4px] border-zinc-300 flex items-center justify-center min-w-12 md:min-w-16 h-12 md:h-16"
        >
          <span class="text-base md:text-2xl font-semibold text-zinc-300"
            >3</span
          >
        </div>
      </div>
    </div>

    <div class="flex items-center justify-center w-full">
      <div class="flex items-center justify-start w-1/3 md:w-1/2">
        <div class="min-w-16 h-16 flex items-center justify-center">
          <span class="text-sm md:text-2xl font-semibold text-zinc-600"
            >이용약관 동의</span
          >
        </div>
      </div>

      <div class="flex items-center justify-start w-1/4">
        <div class="min-w-16 h-16 flex items-center justify-center">
          <span class="text-sm md:text-2xl font-semibold text-[#A10076]"
            >정보입력</span
          >
        </div>
      </div>

      <div class="flex items-center justify-end w-1/4">
        <div class="min-w-16 h-16 flex items-center justify-center">
          <span class="text-sm md:text-2xl font-semibold text-zinc-600"
            >회원가입 완료</span
          >
        </div>
      </div>
    </div>
  </div>

  <article class="flex flex-col gap-4">
    <span class="text-base md:text-lg min-w-[84px] text-[#A10076]">
      <span class="font-bold">회원가입 기본정보</span> [필수 입력 사항]
    </span>

    <div class="grid grid-cols-8 w-full border-y border-zinc-300 py-8">
      <div class="col-span-1 flex items-center text-sm md:text-lg">이름</div>
      <div class="col-span-7 flex items-center mb-2">홍길동</div>
      <div class="col-span-1 flex items-center text-sm md:text-lg">아이디</div>
      <div
        class="col-span-7 flex flex-col md:flex-row gap-2 md:items-center mb-2"
      >
        <div class="flex items-center gap-2 md:w-1/3">
          <input
            type="text"
            id="name"
            class="border border-zinc-300 rounded-md px-2 py-2 md:py-4 text-sm w-full"
          />
          <button
            class="rounded-md px-2 py-2 md:py-4 text-sm border border-zinc-300 min-w-20"
          >
            중복확인 <span class="text-[#A10076]">></span>
          </button>
        </div>
        <div class="flex flex-col text-zinc-400 text-base md:pl-6">
          <span>회원아이디는 5~10자리의 영문/숫자로만 가능합니다.</span>
          <span>※ [중복확인]을 해주십시오.</span>
        </div>
      </div>

      <div class="col-span-1 flex items-center text-sm md:text-lg">
        비밀번호
      </div>
      <div
        class="col-span-7 flex flex-col md:flex-row gap-2 md:items-center mb-2"
      >
        <input
          type="password"
          id="password"
          class="border border-zinc-300 rounded-md px-2 py-2 md:py-4 text-sm md:w-1/3"
        />
        <div class="flex flex-col text-zinc-400 text-base md:pl-6 md:w-2/3">
          <span
            >※ 8자리 이상 ~ 10자리까지의 문자와 숫자가 서로 1개 이상이
            조합되어야 합니다. [특수문자 사용 불가]</span
          >
          <span
            >※ 아이디와 동일하지 않도록 하며 동일한 문자 또는 숫자는 4번이상
            사용할 수 없습니다</span
          >
        </div>
      </div>

      <div class="col-span-1 flex items-center text-sm md:text-lg">
        비밀번호 확인
      </div>
      <div class="col-span-7 flex items-center mb-2">
        <input
          type="password"
          id="passwordCheck"
          class="border border-zinc-300 rounded-md px-2 py-2 md:py-4 text-sm md:w-1/3 w-full"
        />
      </div>

      <div class="col-span-1 flex items-center text-sm md:text-lg">
        휴대폰번호
      </div>
      <div class="col-span-7 flex items-center gap-2 mb-2">
        <input
          type="number"
          id="phoneNumber"
          class="border border-zinc-300 rounded-md px-2 py-2 md:py-4 text-sm w-1/6"
        />
        <span class="text-xl">-</span>
        <input
          type="number"
          id="phoneNumber2"
          class="border border-zinc-300 rounded-md px-2 py-2 md:py-4 text-sm w-1/6"
        />
        <span class="text-xl">-</span>
        <input
          type="number"
          id="phoneNumber3"
          class="border border-zinc-300 rounded-md px-2 py-2 md:py-4 text-sm w-1/6"
        />
        <span class="text-zinc-400 text-base pl-6 w-2/3"
          >※ 비밀번호 분실시 아이디/비밀번호 찾기에서 문자 발송시
          사용됩니다.</span
        >
      </div>
      <div class="col-span-1 flex items-center text-sm md:text-lg">이메일</div>
      <div class="col-span-7 flex flex-col md:flex-row md:items-center gap-2">
        <div class="flex items-center gap-2 lg:1/6">
          <input
            type="text"
            id="email"
            class="border border-zinc-300 rounded-md px-2 py-2 md:py-4 text-sm w-full"
          />
          <span class="text-xl">@</span>
          <input
            type="text"
            id="email2"
            class="border border-zinc-300 rounded-md px-2 py-2 md:py-4 text-sm w-full"
          />
        </div>
        <select
          class="border border-zinc-300 rounded-md px-2 py-2 md:py-4 text-lg w-full md:w-1/6"
        >
          <option value="1">직접입력</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
      </div>
    </div>

    <span class="text-base md:text-lg min-w-[84px] text-[#A10076] mt-8">
      <span class="font-bold">오토마트 개인회원정보</span> [필수 입력 사항]
    </span>

    <div class="grid grid-cols-8 w-full border-y border-zinc-300 py-8">
      <div class="col-span-2 flex items-center">
        <span>이메일 수신 여부</span>
      </div>
      <div class="col-span-6 flex flex-col gap-2 justify-center">
        <span class="text-sm md:text-base"
          >차량정보, 금융, 용품(부품), 기타 자동차 관련 소식 등을 이메일로
          받으시겠습니까?
        </span>
        <span class="text-sm md:text-base"
          >회원가입과 회사주요정책 관련공지 및 입찰관련 등의 메일은 수신동의와
          관계없이 발송됩니다.
        </span>
        <div
          class="bg-zinc-100 flex items-center justify-between w-full md:w-1/2 py-4 px-8 mb-8"
        >
          <div class="flex items-center gap-2">
            <input type="checkbox" class="size-4 md:size-6" />
            <span class="text-sm md:text-base">수신동의</span>
          </div>
          <div class="flex items-center gap-2">
            <input type="checkbox" class="size-4 md:size-6" />
            <span class="text-sm md:text-base">수신안함</span>
          </div>
        </div>
      </div>
      <div class="col-span-2 flex items-center">
        <span>SMS 수신 여부</span>
      </div>
      <div class="col-span-6 flex flex-col gap-2 justify-center">
        <span class="text-sm md:text-base"
          >차량정보, 금융, 용품(부품), 기타 자동차 관련 소식 등을 SMS로
          받으시겠습니까?
        </span>
        <span class="text-sm md:text-base"
          >회원가입과 회사주요정책 관련공지 및 입찰관련 등의 SMS 수신동의와
          관계없이 발송됩니다.
        </span>
        <div
          class="bg-zinc-100 flex items-center justify-between w-full md:w-1/2 py-4 px-8"
        >
          <div class="flex items-center gap-2">
            <input type="checkbox" class="size-4 md:size-6" />
            <span class="text-sm md:text-base">수신동의</span>
          </div>
          <div class="flex items-center gap-2">
            <input type="checkbox" class="size-4 md:size-6" />
            <span class="text-sm md:text-base">수신안함</span>
          </div>
        </div>
      </div>
    </div>

    <span class="text-sm md:text-base"
      >회원 가입 이후에 이름과 아이디의 변경은 불가하므로 재가입을 통해서만
      가능하므로 오토마트로 연락바랍니다.
    </span>
  </article>
</section>
