<div class="flex flex-col gap-8">
  <section>
    <span class="text-2xl text-[#A10076] font-semibold"
      >공개매각(금융/기타)</span
    >
    <hr class="mt-4 border-zinc-600 mb-8" />
    <span class="text-xl font-semibold text-[#A10076]"
      >금융 / 개인 / 회원사 / SK렌터카</span
    >
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 pt-4 gap-4">
      <button
        class="border border-zinc-300 rounded-md py-2 flex items-center justify-center gap-2"
      >
        <span class="text-sm md:text-xl text-zinc-600">금융 공개매각</span>
        <div
          class="md:size-6 size-4 text-[#A10076]"
          style="
            mask: url('../assets/img/ic_double_arrow.svg') no-repeat center;
            -webkit-mask: url('../assets/img/ic_double_arrow.svg') no-repeat
              center;
            mask-size: contain;
            -webkit-mask-size: contain;
            background-color: currentColor;
          "
        ></div>
      </button>
      <button
        class="border border-zinc-300 rounded-md py-2 flex items-center justify-center gap-2"
      >
        <span class="text-sm md:text-xl text-zinc-600">개인 공개매각</span>
        <div
          class="md:size-6 size-4 text-[#A10076]"
          style="
            mask: url('../assets/img/ic_double_arrow.svg') no-repeat center;
            -webkit-mask: url('../assets/img/ic_double_arrow.svg') no-repeat
              center;
            mask-size: contain;
            -webkit-mask-size: contain;
            background-color: currentColor;
          "
        ></div>
      </button>
      <button
        class="border border-[#A10076] rounded-md py-2 flex items-center justify-center gap-2"
      >
        <span class="text-sm md:text-xl text-[#A10076]">회원사 공개매각</span>
        <div
          class="md:size-6 size-4 text-[#A10076]"
          style="
            mask: url('../assets/img/ic_double_arrow.svg') no-repeat center;
            -webkit-mask: url('../assets/img/ic_double_arrow.svg') no-repeat
              center;
            mask-size: contain;
            -webkit-mask-size: contain;
            background-color: currentColor;
          "
        ></div>
      </button>
      <button
        class="border border-zinc-300 rounded-md py-2 flex items-center justify-center gap-2"
      >
        <span class="text-sm md:text-xl text-zinc-600">SK렌터카 공개매각</span>
        <div
          class="md:size-6 size-4 text-[#A10076]"
          style="
            mask: url('../assets/img/ic_double_arrow.svg') no-repeat center;
            -webkit-mask: url('../assets/img/ic_double_arrow.svg') no-repeat
              center;
            mask-size: contain;
            -webkit-mask-size: contain;
            background-color: currentColor;
          "
        ></div>
      </button>
    </div>
  </section>
  <section class="flex flex-col">
    <span class="text-2xl text-[#A10076] font-semibold">관공서(세무)</span>
    <hr class="mt-4 border-zinc-600 md:mb-18 mb-8" />
    <span class="text-xl font-semibold text-[#A10076]">서울특별시</span>
    <div class="grid md:grid-cols-5 grid-cols-2 pt-4 gap-4 mb-8">
      <button
        class="border border-zinc-300 rounded-md py-2 flex items-center justify-center gap-2"
      >
        <span class="text-sm md:text-xl text-zinc-600">서울시청</span>
        <div
          class="md:size-6 size-4 text-[#A10076]"
          style="
            mask: url('../assets/img/ic_double_arrow.svg') no-repeat center;
            -webkit-mask: url('../assets/img/ic_double_arrow.svg') no-repeat
              center;
            mask-size: contain;
            -webkit-mask-size: contain;
            background-color: currentColor;
          "
        ></div>
      </button>
      <button
        class="border border-zinc-300 rounded-md py-2 flex items-center justify-center gap-2"
      >
        <span class="text-sm md:text-xl text-zinc-600">강남구청</span>
        <div
          class="md:size-6 size-4 text-[#A10076]"
          style="
            mask: url('../assets/img/ic_double_arrow.svg') no-repeat center;
            -webkit-mask: url('../assets/img/ic_double_arrow.svg') no-repeat
              center;
            mask-size: contain;
            -webkit-mask-size: contain;
            background-color: currentColor;
          "
        ></div>
      </button>
      <button
        class="border border-[#A10076] rounded-md py-2 flex items-center justify-center gap-2"
      >
        <span class="text-sm md:text-xl text-[#A10076]">강동구청</span>
        <div
          class="md:size-6 size-4 text-[#A10076]"
          style="
            mask: url('../assets/img/ic_double_arrow.svg') no-repeat center;
            -webkit-mask: url('../assets/img/ic_double_arrow.svg') no-repeat
              center;
            mask-size: contain;
            -webkit-mask-size: contain;
            background-color: currentColor;
          "
        ></div>
      </button>
      <button
        class="border border-zinc-300 rounded-md py-2 flex items-center justify-center gap-2"
      >
        <span class="text-sm md:text-xl text-zinc-600">강북구청</span>
        <div
          class="md:size-6 size-4 text-[#A10076]"
          style="
            mask: url('../assets/img/ic_double_arrow.svg') no-repeat center;
            -webkit-mask: url('../assets/img/ic_double_arrow.svg') no-repeat
              center;
            mask-size: contain;
            -webkit-mask-size: contain;
            background-color: currentColor;
          "
        ></div>
      </button>
      <button
        class="border border-zinc-300 rounded-md py-2 flex items-center justify-center gap-2"
      >
        <span class="text-sm md:text-xl text-zinc-600">강서구청</span>
        <div
          class="md:size-6 size-4 text-[#A10076]"
          style="
            mask: url('../assets/img/ic_double_arrow.svg') no-repeat center;
            -webkit-mask: url('../assets/img/ic_double_arrow.svg') no-repeat
              center;
            mask-size: contain;
            -webkit-mask-size: contain;
            background-color: currentColor;
          "
        ></div>
      </button>
      <button
        class="border border-zinc-300 rounded-md py-2 flex items-center justify-center gap-2"
      >
        <span class="text-sm md:text-xl text-zinc-600">관악구청</span>
        <div
          class="md:size-6 size-4 text-[#A10076]"
          style="
            mask: url('../assets/img/ic_double_arrow.svg') no-repeat center;
            -webkit-mask: url('../assets/img/ic_double_arrow.svg') no-repeat
              center;
            mask-size: contain;
            -webkit-mask-size: contain;
            background-color: currentColor;
          "
        ></div>
      </button>
      <button
        class="border border-zinc-300 rounded-md py-2 flex items-center justify-center gap-2"
      >
        <span class="text-sm md:text-xl text-zinc-600">광진구청</span>
        <div
          class="md:size-6 size-4 text-[#A10076]"
          style="
            mask: url('../assets/img/ic_double_arrow.svg') no-repeat center;
            -webkit-mask: url('../assets/img/ic_double_arrow.svg') no-repeat
              center;
            mask-size: contain;
            -webkit-mask-size: contain;
            background-color: currentColor;
          "
        ></div>
      </button>
      <button
        class="border border-zinc-300 rounded-md py-2 flex items-center justify-center gap-2"
      >
        <span class="text-sm md:text-xl text-zinc-600">광진구청</span>
        <div
          class="md:size-6 size-4 text-[#A10076]"
          style="
            mask: url('../assets/img/ic_double_arrow.svg') no-repeat center;
            -webkit-mask: url('../assets/img/ic_double_arrow.svg') no-repeat
              center;
            mask-size: contain;
            -webkit-mask-size: contain;
            background-color: currentColor;
          "
        ></div>
      </button>
    </div>
    <span class="text-xl font-semibold text-[#A10076] md:mt-18 mt-8"
      >서울특별시</span
    >
    <div class="grid md:grid-cols-5 grid-cols-2 pt-4 gap-4 mb-8">
      <button
        class="border border-zinc-300 rounded-md py-2 flex items-center justify-center gap-2"
      >
        <span class="text-sm md:text-xl text-zinc-600">서울시청</span>
        <div
          class="md:size-6 size-4 text-[#A10076]"
          style="
            mask: url('../assets/img/ic_double_arrow.svg') no-repeat center;
            -webkit-mask: url('../assets/img/ic_double_arrow.svg') no-repeat
              center;
            mask-size: contain;
            -webkit-mask-size: contain;
            background-color: currentColor;
          "
        ></div>
      </button>
      <button
        class="border border-zinc-300 rounded-md py-2 flex items-center justify-center gap-2"
      >
        <span class="text-sm md:text-xl text-zinc-600">강남구청</span>
        <div
          class="md:size-6 size-4 text-[#A10076]"
          style="
            mask: url('../assets/img/ic_double_arrow.svg') no-repeat center;
            -webkit-mask: url('../assets/img/ic_double_arrow.svg') no-repeat
              center;
            mask-size: contain;
            -webkit-mask-size: contain;
            background-color: currentColor;
          "
        ></div>
      </button>
      <button
        class="border border-[#A10076] rounded-md py-2 flex items-center justify-center gap-2"
      >
        <span class="text-sm md:text-xl text-[#A10076]">강동구청</span>
        <div
          class="md:size-6 size-4 text-[#A10076]"
          style="
            mask: url('../assets/img/ic_double_arrow.svg') no-repeat center;
            -webkit-mask: url('../assets/img/ic_double_arrow.svg') no-repeat
              center;
            mask-size: contain;
            -webkit-mask-size: contain;
            background-color: currentColor;
          "
        ></div>
      </button>
      <button
        class="border border-zinc-300 rounded-md py-2 flex items-center justify-center gap-2"
      >
        <span class="text-sm md:text-xl text-zinc-600">강북구청</span>
        <div
          class="md:size-6 size-4 text-[#A10076]"
          style="
            mask: url('../assets/img/ic_double_arrow.svg') no-repeat center;
            -webkit-mask: url('../assets/img/ic_double_arrow.svg') no-repeat
              center;
            mask-size: contain;
            -webkit-mask-size: contain;
            background-color: currentColor;
          "
        ></div>
      </button>
      <button
        class="border border-zinc-300 rounded-md py-2 flex items-center justify-center gap-2"
      >
        <span class="text-sm md:text-xl text-zinc-600">강서구청</span>
        <div
          class="md:size-6 size-4 text-[#A10076]"
          style="
            mask: url('../assets/img/ic_double_arrow.svg') no-repeat center;
            -webkit-mask: url('../assets/img/ic_double_arrow.svg') no-repeat
              center;
            mask-size: contain;
            -webkit-mask-size: contain;
            background-color: currentColor;
          "
        ></div>
      </button>
      <button
        class="border border-zinc-300 rounded-md py-2 flex items-center justify-center gap-2"
      >
        <span class="text-sm md:text-xl text-zinc-600">관악구청</span>
        <div
          class="md:size-6 size-4 text-[#A10076]"
          style="
            mask: url('../assets/img/ic_double_arrow.svg') no-repeat center;
            -webkit-mask: url('../assets/img/ic_double_arrow.svg') no-repeat
              center;
            mask-size: contain;
            -webkit-mask-size: contain;
            background-color: currentColor;
          "
        ></div>
      </button>
      <button
        class="border border-zinc-300 rounded-md py-2 flex items-center justify-center gap-2"
      >
        <span class="text-sm md:text-xl text-zinc-600">광진구청</span>
        <div
          class="md:size-6 size-4 text-[#A10076]"
          style="
            mask: url('../assets/img/ic_double_arrow.svg') no-repeat center;
            -webkit-mask: url('../assets/img/ic_double_arrow.svg') no-repeat
              center;
            mask-size: contain;
            -webkit-mask-size: contain;
            background-color: currentColor;
          "
        ></div>
      </button>
      <button
        class="border border-zinc-300 rounded-md py-2 flex items-center justify-center gap-2"
      >
        <span class="text-sm md:text-xl text-zinc-600">광진구청</span>
        <div
          class="md:size-6 size-4 text-[#A10076]"
          style="
            mask: url('../assets/img/ic_double_arrow.svg') no-repeat center;
            -webkit-mask: url('../assets/img/ic_double_arrow.svg') no-repeat
              center;
            mask-size: contain;
            -webkit-mask-size: contain;
            background-color: currentColor;
          "
        ></div>
      </button>
    </div>
  </section>
</div>
