<div class="flex flex-col gap-8">
  <section>
    <span class="text-2xl text-[#A10076] font-semibold">검색결과</span>
    <hr class="mt-4 border-zinc-600 mb-8" />
    <ul
      class="gap-2 list-image-[url(/assets/img/ic_dot_triangle.svg)] list-inside text-lg text-zinc-600 font-normal"
    >
      <li>
        금일 매각발표를 하는 기관 목록입니다. (발표시간을 확인하시고, 결과
        확인은 해당 기관명을 클릭하십시오.)
      </li>
      <li>
        낙찰자는 대금납부기한까지 잔금을 입금하고 해당 기관으로 통보하십시오.
        (기한 및 연락처는 각 공고문 참조)
      </li>
      <li class="text-[#A10076]">
        차량인수시 필요서류 : 낙찰자 본인 - 신분증, 등록증 (이전후 인수인 경우),
        대리인인경우 - 신분증, 인감증명서, 위임장, 등록증 (이전후 인수인 경우)
      </li>
    </ul>
  </section>
  <section>
    <table class="w-full! border-collapse text-zinc-600">
      <thead class="bg-zinc-10 0">
        <tr class="bg-zinc-100">
          <th class="px-3 py-2.5 text-sm font-semibold text-center">
            진행기관
          </th>
          <th class="px-3 py-2.5 text-sm font-semibold text-center">
            발표일시
          </th>
          <th class="px-3 py-2.5 text-sm font-semibold text-center">차량수</th>
        </tr>
      </thead>
      <tbody>
        <tr class="border-b border-[#d1d5db] bg-white">
          <td class="px-3 py-2.5 text-sm text-center bg-white">
            <span class="text-[#A10076]">[금융기관]</span>
            [BMW 파이낸셜] [오케이에프엔아이대부(주)]
          </td>
          <td class="px-3 py-2.5 text-sm text-center bg-white">
            2025-09-19 (14:00)
          </td>
          <td class="px-3 py-2.5 text-sm text-center bg-white">10대</td>
        </tr>
        <tr class="border-b border-[#d1d5db] bg-white">
          <td class="px-3 py-2.5 text-sm text-center bg-white">
            <span class="text-[#A10076]">[금융기관]</span>
            [BMW 파이낸셜] [오케이에프엔아이대부(주)]
          </td>
          <td class="px-3 py-2.5 text-sm text-center bg-white">
            2025-09-19 (14:00)
          </td>
          <td class="px-3 py-2.5 text-sm text-center bg-white">10대</td>
        </tr>
        <tr class="border-b border-[#d1d5db] bg-white">
          <td class="px-3 py-2.5 text-sm text-center bg-white">
            <span class="text-[#A10076]">[금융기관]</span>
            [BMW 파이낸셜] [오케이에프엔아이대부(주)]
          </td>
          <td class="px-3 py-2.5 text-sm text-center bg-white">
            2025-09-19 (14:00)
          </td>
          <td class="px-3 py-2.5 text-sm text-center bg-white">10대</td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
