<footer>
  <section
    class="flex gap-4 md:gap-8 justify-start items-center text-xs md:text-sm text-zinc-600 px-4 md:px-8 py-4"
  >
    <a href="#">홈으로</a>
    <a href="#">Automart 소개</a>
    <a href="#">이용약관</a>
    <a href="#">개인정보처리방침</a>
  </section>
  <section
    class="bg-gray-50 flex w-full p-8 grid grid-cols-1 md:grid-cols-3 lg:grid-cols-2"
  >
    <div class="col-span-1 grid grid-cols-2 md:sr-only items-center py-4">
      <span class="text-[#A10076] text-xl font-semibold leading-none"
        >1811-8949</span
      >
      <div class="flex flex-col justify-between items-start w-full">
        <span class="text-xs text-zinc-500"
          ><span class="font-bold">고객센터</span> 평일 09:00 ~ 18:00</span
        >
        <span class="text-xs text-zinc-500 mt-1"
          ><span class="font-bold">오토마트 보관소</span>&nbsp;&nbsp;평일 09:00
          ~ 18:00
        </span>
        <span class="text-xs text-zinc-500 mt-1">
          <span class="font-bold">휴무</span>&nbsp;&nbsp;토, 일요일 / 공휴일
        </span>
      </div>
    </div>
    <div
      class="col-span-1 md:col-span-2 lg:col-span-1 flex flex-col justify-center items-start"
    >
      <img
        src="../assets/img/logo.png"
        alt="logo"
        class="w-[123px] h-[28px] md:w-[176px] md:h-10"
      />
      <span class="text-xs md:text-sm text-zinc-500 mt-6"
        ><span class="font-bold">(주)오토마트</span>&nbsp;&nbsp;|&nbsp;&nbsp;
        <span class="font-bold">사업자 번호</span>&nbsp;&nbsp;
        214-86-33685&nbsp;&nbsp;|&nbsp;&nbsp;
        <span class="font-bold">대표이사</span>&nbsp;&nbsp;예영식</span
      >
      <span class="text-xs md:text-sm text-zinc-500 mt-1"
        ><span class="font-bold">대표전화</span
        >&nbsp;&nbsp;1811-8949&nbsp;&nbsp;|&nbsp;&nbsp;
        <span class="font-bold">FAX</span>&nbsp;&nbsp;02-6299-5488
      </span>
      <span class="text-xs md:text-sm text-zinc-500 mt-1"
        ><span class="font-bold">본사</span>&nbsp;&nbsp;서울특별시 금천구 벚꽃로
        234, 313호 (가산동, 에이스하이엔드타워 6차)
      </span>
      <span class="text-xs md:text-sm text-zinc-500 mt-1"
        ><span class="font-bold">인천보관소</span>&nbsp;&nbsp;인천광역시 중구
        백운로 387번길 53
      </span>
      <span class="text-xs md:text-sm text-zinc-500 mt-6"
        >Copyrights @ 2009 Automart Co., Ltd. All rights reserved.</span
      >
    </div>
    <div
      class="col-span-1 flex flex-col justify-center items-start sr-only md:not-sr-only"
    >
      <span class="text-[#A10076] text-[34px] font-semibold leading-none"
        >1811-8949</span
      >
      <span class="text-sm text-zinc-500 mt-6"
        ><span class="font-bold">고객센터</span> 평일 09:00 ~ 18:00</span
      >
      <span class="text-sm text-zinc-500 mt-1"
        ><span class="font-bold">오토마트 보관소</span>&nbsp;&nbsp;평일 09:00 ~
        18:00 &nbsp;&nbsp; <span class="font-bold">휴무</span>&nbsp;&nbsp;토,
        일요일 / 공휴일
      </span>
    </div>
  </section>
</footer>
