<div class="flex justify-between items-center px-8 py-6">
  <img src="../assets/img/logo.png" alt="logo" class="w-[176px] h-10" />
  <ul
    class="flex items-center gap-4 text-zinc-600 text-sm font-normal sr-only md:not-sr-only"
  >
    <li>
      <a href="#">로그인</a>
    </li>
    <li class="text-zinc-300">•</li>
    <li>
      <a href="#">ID/PWD</a>
    </li>
    <li class="text-zinc-300">•</li>
    <li>
      <a href="#">회원가입</a>
    </li>
  </ul>
  <div class="flex gap-2 items-center md:sr-only">
    <button
      class="w-6 h-6 text-zinc-600"
      style="
        mask: url('../assets/img/ic_human.svg') no-repeat center;
        -webkit-mask: url('../assets/img/ic_human.svg') no-repeat center;
        mask-size: contain;
        -webkit-mask-size: contain;
        background-color: currentColor;
      "
    ></button>
    <button
      class="w-6 h-6 text-zinc-600"
      style="
        mask: url('../assets/img/ic_menu.svg') no-repeat center;
        -webkit-mask: url('../assets/img/ic_menu.svg') no-repeat center;
        mask-size: contain;
        -webkit-mask-size: contain;
        background-color: currentColor;
      "
    ></button>
  </div>
</div>
