<div class="flex flex-col justify-between items-center p-4">
  <section class="flex justify-between items-center w-full">
    <ul class="flex items-center gap-4 text-black text-sm font-normal">
      <a href="#">기관별검색</a>
      <li class="text-zinc-600">|</li>
      <a href="#">차량별검색</a>
      <li class="text-zinc-600">|</li>
      <a href="#">내차팔기</a>
      <li class="text-zinc-600">|</li>
      <a href="#">고객센터</a>
      <li class="text-zinc-600">|</li>
      <a href="#">나의정보</a>
      <li class="text-zinc-600">|</li>
      <a href="#">기타정보</a>
    </ul>
    <div
      class="w-6 h-6 text-zinc-600"
      style="
        mask: url('../assets/img/ic_menu.svg') no-repeat center;
        -webkit-mask: url('../assets/img/ic_menu.svg') no-repeat center;
        mask-size: contain;
        -webkit-mask-size: contain;
        background-color: currentColor;
      "
    ></div>
  </section>

  <section
    class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-7 py-8 gap-8 w-full"
  >
    <div class="col-span-1 flex flex-col gap-4">
      <span class="border-b border-[#A10076] pb-2 text-sm text-[#A10076]"
        >기관별검색</span
      >
      <div class="flex flex-col gap-4">
        <a href="#" class="text-sm text-zinc-500">전체</a>
        <a href="#" class="text-sm text-zinc-500">진행예정</a>
        <a href="#" class="text-sm text-zinc-500">진행중</a>
        <a href="#" class="text-sm text-zinc-500">금일발표</a>
        <a href="#" class="text-sm text-zinc-500">발표완료</a>
      </div>
    </div>
    <div class="col-span-1 flex flex-col gap-4">
      <span class="border-b border-[#A10076] pb-2 text-sm text-[#A10076]"
        >차량검색</span
      >
      <div class="flex flex-col gap-4">
        <a href="#" class="text-sm text-zinc-500">전체</a>
        <a href="#" class="text-sm text-zinc-500">관공서공매</a>
        <a href="#" class="text-sm text-zinc-500">금융기관 공개매각</a>
        <a href="#" class="text-sm text-zinc-500">개인 공개매각</a>
        <a href="#" class="text-sm text-zinc-500">회원사 공개매각</a>
      </div>
    </div>
    <div class="col-span-1 flex flex-col gap-4">
      <span class="border-b border-[#A10076] pb-2 text-sm text-[#A10076]"
        >내차팔기</span
      >
      <div class="flex flex-col gap-4">
        <a href="#" class="text-sm text-zinc-500">전체</a>
        <a href="#" class="text-sm text-zinc-500">Why? Automart</a>
        <a href="#" class="text-sm text-zinc-500">내차팔기절차</a>
        <a href="#" class="text-sm text-zinc-500">내차팔기신청</a>
        <a href="#" class="text-sm text-zinc-500">내차팔기내역</a>
      </div>
    </div>
    <div class="col-span-1 flex flex-col gap-4">
      <span class="border-b border-[#A10076] pb-2 text-sm text-[#A10076]"
        >고객센터</span
      >
      <div class="flex flex-col gap-4">
        <a href="#" class="text-sm text-zinc-500">전체</a>
        <a href="#" class="text-sm text-zinc-500">공지사항</a>
        <a href="#" class="text-sm text-zinc-500">공매절차</a>
        <a href="#" class="text-sm text-zinc-500">FAQ</a>
        <a href="#" class="text-sm text-zinc-500">Q&A</a>
      </div>
    </div>
    <div class="col-span-1 flex flex-col gap-4">
      <span class="border-b border-[#A10076] pb-2 text-sm text-[#A10076]"
        >나의정보</span
      >
      <div class="flex flex-col gap-4">
        <a href="#" class="text-sm text-zinc-500">전체</a>
        <a href="#" class="text-sm text-zinc-500">회원정보수정</a>
        <a href="#" class="text-sm text-zinc-500">나의입찰정보</a>
        <a href="#" class="text-sm text-zinc-500">나의입찰내역</a>
        <a href="#" class="text-sm text-zinc-500">나의찜한차량</a>
        <a href="#" class="text-sm text-zinc-500">나의관심조건</a>
      </div>
    </div>
    <div class="col-span-1 flex flex-col gap-4">
      <span class="border-b border-[#A10076] pb-2 text-sm text-[#A10076]"
        >기타정보</span
      >
      <div class="flex flex-col gap-4">
        <a href="#" class="text-sm text-zinc-500">전체</a>
        <a href="#" class="text-sm text-zinc-500">진행예정</a>
        <a href="#" class="text-sm text-zinc-500">진행중</a>
        <a href="#" class="text-sm text-zinc-500">금일발표</a>
        <a href="#" class="text-sm text-zinc-500">발표완료</a>
      </div>
    </div>
    <div class="col-span-1 flex flex-col gap-4">
      <span class="border-b border-[#A10076] pb-2 text-sm text-[#A10076]"
        >회원가입</span
      >
      <div class="flex flex-col gap-4">
        <a href="#" class="text-sm text-zinc-500">회원가입</a>
        <a href="#" class="text-sm text-zinc-500">아이디/비밀번호 찾기</a>
        <div class="sr-only lg:not-sr-only">
          <span class="text-sm text-[#A10076]">사이트 인증서</span>
          <div class="flex flex-wrap">
            <img
              src="../assets/img/img_mark_1.png"
              alt="mark_1"
              class="size-[70px] object-contain"
            />
            <img
              src="../assets/img/img_mark_2.png"
              alt="mark_2"
              class="size-[70px] object-contain"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-1 flex flex-col gap-4 lg:sr-only">
      <span class="border-b border-[#A10076] pb-2 text-sm text-[#A10076]"
        >사이트 인증서</span
      >
      <div class="flex w-full justify-center items-center gap-4 flex-wrap">
        <img
          src="../assets/img/img_mark_1.png"
          alt="mark_1"
          class="size-[70px] object-contain"
        />
        <img
          src="../assets/img/img_mark_2.png"
          alt="mark_2"
          class="size-[70px] object-contain"
        />
      </div>
    </div>
  </section>
</div>
