<section class="p-8 flex flex-col">
  <section class="flex flex-col justify-center border-y border-zinc-300 py-4">
    <div class="w-full grid grid-cols-1 lg:grid-cols-2 gap-4">
      <div class="col-span-2 flex items-center gap-4 md:gap-6">
        <span class="text-sm min-w-[50px] md:text-lg md:min-w-[70px]"
          >등록자</span
        >
        <span class="text-sm min-w-[50px] md:text-lg md:min-w-[70px]"
          >홍길동</span
        >
      </div>

      <div class="col-span-2 flex items-center gap-4 md:gap-6">
        <span class="text-sm min-w-[70px] md:text-lg md:min-w-[100px]"
          >관심조건명</span
        >
        <input
          type="text"
          class="border border-zinc-300 rounded-md px-2 py-2 md:py-4 text-sm w-full"
        />
      </div>

      <div
        class="col-span-2 flex flex-col md:flex-row items-center gap-4 md:gap-6"
      >
        <div class="w-full md:w-1/2 flex items-center gap-4 md:gap-6">
          <span class="text-sm min-w-[50px] md:text-lg md:min-w-[70px]"
            >차 량 명</span
          >
          <input
            type="text"
            class="border border-zinc-300 rounded-md px-2 py-2 md:py-4 text-sm w-full"
          />
        </div>
        <div class="w-full md:w-1/2 flex items-center gap-4 md:gap-6">
          <span class="text-sm min-w-[50px] md:text-lg md:min-w-[70px]"
            >보 관 소</span
          >
          <select
            class="border border-zinc-300 rounded-md px-2 py-2 md:py-4 text-sm md:text-lg w-full"
          >
            <option value="1">전체</option>
            <option value="2">금융/개인/회원사 공개매각</option>
            <option value="3">내차팔기</option>
          </select>
        </div>
      </div>

      <div
        class="col-span-2 flex flex-col md:flex-row items-center gap-4 md:gap-6"
      >
        <div class="w-full md:w-1/2 flex items-center gap-4 md:gap-6">
          <span class="text-sm min-w-[50px] md:text-lg md:min-w-[70px]"
            >변 속 기</span
          >
          <select
            class="border border-zinc-300 rounded-md px-2 py-2 md:py-4 text-sm md:text-lg w-full"
          >
            <option value="1">전체</option>
            <option value="2">금융/개인/회원사 공개매각</option>
            <option value="3">내차팔기</option>
          </select>
        </div>
        <div class="w-full md:w-1/2 flex items-center gap-4 md:gap-6">
          <div class="flex items-center gap-4 md:gap-6">
            <div class="w-1/2 flex items-center gap-4 md:gap-6">
              <span class="text-sm min-w-[50px] md:text-lg md:min-w-[70px]"
                >모델연도</span
              >
              <select
                class="border border-zinc-300 rounded-md px-2 py-2 md:py-4 text-sm md:text-lg w-full"
              >
                <option value="1">전체</option>
                <option value="2">금융/개인/회원사 공개매각</option>
                <option value="3">내차팔기</option>
              </select>
            </div>
            <div class="w-1/2 flex items-center gap-4 md:gap-6">
              <span>~</span>
              <select
                class="border border-zinc-300 rounded-md px-2 py-2 md:py-4 text-sm md:text-lg w-full"
              >
                <option value="1">전체</option>
                <option value="2">금융/개인/회원사 공개매각</option>
                <option value="3">내차팔기</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-span-2 flex flex-col md:flex-row items-center gap-4 md:gap-6"
      >
        <div class="w-full md:w-1/2 flex items-center gap-4 md:gap-6">
          <span class="text-sm min-w-[50px] md:text-lg md:min-w-[70px]"
            >연료</span
          >
          <select
            class="border border-zinc-300 rounded-md px-2 py-2 md:py-4 text-sm md:text-lg w-full"
          >
            <option value="1">전체</option>
            <option value="2">금융/개인/회원사 공개매각</option>
            <option value="3">내차팔기</option>
          </select>
        </div>
        <div class="w-full md:w-1/2 flex items-center gap-4 md:gap-6">
          <div class="flex items-center gap-4 md:gap-6">
            <div class="w-1/2 flex items-center gap-4 md:gap-6">
              <span class="text-sm min-w-[50px] md:text-lg md:min-w-[70px]"
                >예정가</span
              >
              <select
                class="border border-zinc-300 rounded-md px-2 py-2 md:py-4 text-sm md:text-lg w-full"
              >
                <option value="1">전체</option>
                <option value="2">금융/개인/회원사 공개매각</option>
                <option value="3">내차팔기</option>
              </select>
            </div>
            <div class="w-1/2 flex items-center gap-4 md:gap-6">
              <span>~</span>
              <select
                class="border border-zinc-300 rounded-md px-2 py-2 md:py-4 text-sm md:text-lg w-full"
              >
                <option value="1">전체</option>
                <option value="2">금융/개인/회원사 공개매각</option>
                <option value="3">내차팔기</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="self-center flex gap-6 w-full items-center justify-center">
    <button
      class="bg-zinc-100 text-zinc-600 border border-zinc-300 px-10 py-2 rounded-md w-full md:w-1/4 mt-5"
    >
      목록
    </button>
    <button
      class="bg-[#A10076] text-white px-10 py-2 rounded-md w-full md:w-1/4 mt-5"
    >
      저장
    </button>
  </div>
</section>
