<section class="flex flex-col p-8">
  <article class="flex flex-col gap-4 sr-only md:not-sr-only">
    <div class="flex justify-center items-center">
      <img
        src="../../assets/img/ic_car_step_01.png"
        alt="procedure_1"
        class="size-[72px] lg:size-[102px] object-contain"
      />
      <hr class="w-full border-none" />
      <img
        src="../../assets/img/ic_car_step_02.png"
        alt="procedure_2"
        class="size-[72px] lg:size-[102px] object-contain"
      />
      <hr class="w-full border-none" />
      <img
        src="../../assets/img/ic_car_step_03.png"
        alt="procedure_3"
        class="size-[72px] lg:size-[102px] object-contain"
      />
      <hr class="w-full border-none" />
      <img
        src="../../assets/img/ic_car_step_04.png"
        alt="procedure_4"
        class="size-[72px] lg:size-[102px] object-contain"
      />
      <hr class="w-full border-none" />
      <img
        src="../../assets/img/ic_car_step_05.png"
        alt="procedure_5"
        class="size-[72px] lg:size-[102px] object-contain"
      />
      <hr class="w-full border-none" />
      <img
        src="../../assets/img/ic_car_step_06.png"
        alt="procedure_6"
        class="size-[72px] lg:size-[102px] object-contain"
      />
    </div>
    <div class="flex justify-center items-center">
      <div
        class="border-2 border-[#A10076] text-[#A10076] rounded-full min-w-[72px] lg:min-w-[86px] flex justify-center items-center"
      >
        <span class="text-base font-normal"
          >STEP <span class="font-bold">1</span></span
        >
      </div>
      <hr class="border-[#A10076] border-dotted w-full border-t-6" />
      <div
        class="border-2 border-[#A10076] text-[#A10076] rounded-full min-w-[72px] lg:min-w-[86px] flex justify-center items-center"
      >
        <span class="text-base font-normal"
          >STEP <span class="font-bold">2</span></span
        >
      </div>
      <hr class="border-[#A10076] border-dotted w-full border-t-6" />
      <div
        class="border-2 border-[#A10076] text-[#A10076] rounded-full min-w-[72px] lg:min-w-[86px] flex justify-center items-center"
      >
        <span class="text-base font-normal"
          >STEP <span class="font-bold">3</span></span
        >
      </div>
      <hr class="border-[#A10076] border-dotted w-full border-t-6" />
      <div
        class="border-2 border-[#A10076] text-[#A10076] rounded-full min-w-[72px] lg:min-w-[86px] flex justify-center items-center"
      >
        <span class="text-base font-normal"
          >STEP <span class="font-bold">4</span></span
        >
      </div>
      <hr class="border-[#A10076] border-dotted w-full border-t-6" />
      <div
        class="border-2 border-[#A10076] text-[#A10076] rounded-full min-w-[72px] lg:min-w-[86px] flex justify-center items-center"
      >
        <span class="text-base font-normal"
          >STEP <span class="font-bold">5</span></span
        >
      </div>
      <hr class="border-[#A10076] border-dotted w-full border-t-6" />
      <div
        class="border-2 border-[#A10076] text-[#A10076] rounded-full min-w-[72px] lg:min-w-[86px] flex justify-center items-center"
      >
        <span class="text-base font-normal"
          >STEP <span class="font-bold">6</span></span
        >
      </div>
    </div>
    <div class="flex justify-center">
      <span class="text-lg font-semibold min-w-[86px] text-center"
        >차량검색<br />정보확인</span
      >
      <hr class="w-full border-none" />
      <span class="text-lg font-semibold min-w-[86px] text-center"
        >차량확인</span
      >
      <hr class="w-full border-none" />
      <span class="text-lg font-semibold min-w-[86px] text-center"
        >입찰준비 및<br />입찰신청</span
      >
      <hr class="w-full border-none" />
      <span class="text-lg font-semibold min-w-[86px] text-center"
        >입찰결과 확인 및<br />입찰금 입금</span
      >
      <hr class="w-full border-none" />
      <span class="text-lg font-semibold min-w-[86px] text-center"
        >낙찰차량<br />소유권 이전</span
      >
      <hr class="w-full border-none" />
      <span class="text-lg font-semibold min-w-[86px] text-center"
        >매각완료</span
      >
    </div>
  </article>
  <article class="flex flex-col gap-4 md:sr-only">
    <div class="flex flex-col gap-4">
      <div class="flex justify-center items-center">
        <img
          src="../../assets/img/ic_car_step_01.png"
          alt="procedure_1"
          class="size-[72px] lg:size-[102px] object-contain"
        />
        <hr class="w-full border-none" />
        <img
          src="../../assets/img/ic_car_step_02.png"
          alt="procedure_2"
          class="size-[72px] lg:size-[102px] object-contain"
        />
        <hr class="w-full border-none" />
        <img
          src="../../assets/img/ic_car_step_03.png"
          alt="procedure_3"
          class="size-[72px] lg:size-[102px] object-contain"
        />
      </div>
      <div class="flex justify-center items-center">
        <div
          class="border-2 border-[#A10076] text-[#A10076] rounded-full min-w-[72px] lg:min-w-[86px] flex justify-center items-center"
        >
          <span class="text-base font-normal"
            >STEP <span class="font-bold">1</span></span
          >
        </div>
        <hr class="border-[#A10076] border-dotted w-full border-t-6" />
        <div
          class="border-2 border-[#A10076] text-[#A10076] rounded-full min-w-[72px] lg:min-w-[86px] flex justify-center items-center"
        >
          <span class="text-base font-normal"
            >STEP <span class="font-bold">2</span></span
          >
        </div>
        <hr class="border-[#A10076] border-dotted w-full border-t-6" />
        <div
          class="border-2 border-[#A10076] text-[#A10076] rounded-full min-w-[72px] lg:min-w-[86px] flex justify-center items-center"
        >
          <span class="text-base font-normal"
            >STEP <span class="font-bold">3</span></span
          >
        </div>
      </div>
      <div class="flex justify-center">
        <span class="text-lg lg:text-xl font-semibold min-w-[86px] text-center"
          >차량검색<br />정보확인</span
        >
        <hr class="w-full border-none" />
        <span class="text-lg lg:text-xl font-semibold min-w-[86px] text-center"
          >차량확인</span
        >
        <hr class="w-full border-none" />
        <span class="text-lg lg:text-xl font-semibold min-w-[86px] text-center"
          >입찰준비 및<br />입찰신청</span
        >
      </div>
    </div>
    <div class="flex flex-col gap-4">
      <div class="flex justify-center items-center">
        <img
          src="../../assets/img/ic_car_step_04.png"
          alt="procedure_4"
          class="size-[72px] lg:size-[102px] object-contain"
        />
        <hr class="w-full border-none" />
        <img
          src="../../assets/img/ic_car_step_05.png"
          alt="procedure_5"
          class="size-[72px] lg:size-[102px] object-contain"
        />
        <hr class="w-full border-none" />
        <img
          src="../../assets/img/ic_car_step_06.png"
          alt="procedure_6"
          class="size-[72px] lg:size-[102px] object-contain"
        />
      </div>
      <div class="flex justify-center items-center">
        <div
          class="border-2 border-[#A10076] text-[#A10076] rounded-full min-w-[72px] lg:min-w-[86px] flex justify-center items-center"
        >
          <span class="text-base font-normal"
            >STEP <span class="font-bold">4</span></span
          >
        </div>
        <hr class="border-[#A10076] border-dotted w-full border-t-6" />
        <div
          class="border-2 border-[#A10076] text-[#A10076] rounded-full min-w-[72px] lg:min-w-[86px] flex justify-center items-center"
        >
          <span class="text-base font-normal"
            >STEP <span class="font-bold">5</span></span
          >
        </div>
        <hr class="border-[#A10076] border-dotted w-full border-t-6" />
        <div
          class="border-2 border-[#A10076] text-[#A10076] rounded-full min-w-[72px] lg:min-w-[86px] flex justify-center items-center"
        >
          <span class="text-base font-normal"
            >STEP <span class="font-bold">6</span></span
          >
        </div>
      </div>
      <div class="flex justify-center">
        <span class="text-lg lg:text-xl font-semibold min-w-[86px] text-center"
          >입찰결과 확인 및<br />입찰금 입금</span
        >
        <hr class="w-full border-none" />
        <span class="text-lg lg:text-xl font-semibold min-w-[86px] text-center"
          >낙찰차량<br />소유권 이전</span
        >
        <hr class="w-full border-none" />
        <span class="text-lg lg:text-xl font-semibold min-w-[86px] text-center"
          >매각완료</span
        >
      </div>
    </div>
  </article>
  <section class="flex flex-col py-8 gap-4">
    <article class="flex gap-4 items-center">
      <div
        class="bg-[#A10076] text-white rounded-full flex justify-center items-center px-4"
      >
        <span class="text-xl font-normal"
          >STEP <span class="font-bold">1</span></span
        >
      </div>
      <span class="text-[30px] font-bold text-[#A10076]"
        >차량검색 및 정보확인</span
      >
    </article>

    <article
      class="border border-zinc-300 rounded-[16px] w-full flex flex-col items-center justify-center"
    >
      <div
        class="flex flex-col md:flex-row items-center gap-8 pt-8 justify-center w-full"
      >
        <img
          src="../../assets/img/img_car_step_01.png"
          alt="sub_procedure_1"
          class="w-[320px] h-50 object-contain"
        />
        <div class="flex flex-col gap-6 w-full px-4 md:px-0 md:w-1/2">
          <ul class="gap-2 text-2xl md:text-[30px] text-black font-semibold">
            <li class="flex items-start gap-3">
              <img
                src="../../assets/img/ic_dot_triangle.svg"
                alt="bullet"
                class="w-6 h-6 mt-1.5 flex-shrink-0"
              />
              <span
                >차량검색
                <span class="font-normal text-xl md:text-2xl"
                  >[기관별 검색과 차량검색 메뉴 이용]</span
                ></span
              >
            </li>
            <li class="flex items-start gap-3">
              <img
                src="../../assets/img/ic_dot_triangle.svg"
                alt="bullet"
                class="w-6 h-6 mt-1.5 flex-shrink-0"
              />
              <span
                >상세화면에서 검색한 차량의 정보확인 <br /><span
                  class="font-normal text-xl md:text-2xl"
                  >[차량기본정보 및 상태점검정보, 차량사진, 점검동영상]</span
                ></span
              >
            </li>
          </ul>
          <ul class="list-disc text-sm md:text-xl list-inside">
            <li>
              출품된 차량을 검색하고, 검색된 차량의 정보를 꼼꼼히 확인합니다.
            </li>
            <li>내차팔기 신청 후, 공개매각담당자의 상담 진행</li>
            <li>
              차량보관소 방문 전에, 직접 확인할 대상 차량의 정보를 살펴봅니다.
            </li>
          </ul>
        </div>
      </div>

      <div class="h-11 w-full flex items-end justify-end pr-8">
        <button
          class="bg-zinc-100 text-black border-l border-t border-r border-zinc-300 rounded-t-md px-4 py-2 flex items-center justify-center gap-2"
        >
          <span>자세히 보기</span>
          <div
            class="size-4 text-[#A10076] rotate-270"
            style="
              mask: url('../assets/img/ic_double_arrow.svg') no-repeat center;
              -webkit-mask: url('../assets/img/ic_double_arrow.svg') no-repeat
                center;
              mask-size: contain;
              -webkit-mask-size: contain;
              background-color: currentColor;
            "
          ></div>
        </button>
      </div>
    </article>

    <article class="flex gap-4 items-center">
      <div
        class="bg-[#A10076] text-white rounded-full flex justify-center items-center px-4"
      >
        <span class="text-xl font-normal"
          >STEP <span class="font-bold">2</span></span
        >
      </div>
      <span class="text-[30px] font-bold text-[#A10076]">차량확인</span>
    </article>
    <article
      class="border border-zinc-300 rounded-[16px] w-full flex flex-col items-center justify-center"
    >
      <div
        class="flex flex-col md:flex-row items-center gap-8 pt-8 justify-center w-full"
      >
        <img
          src="../../assets/img/img_car_step_02.png"
          alt="sub_procedure_2"
          class="w-[320px] h-50 object-contain"
        />
        <div class="flex flex-col gap-6 w-full px-4 md:px-0 md:w-1/2">
          <ul class="gap-2 text-2xl md:text-[30px] text-black font-semibold">
            <li class="flex items-start gap-3">
              <img
                src="../../assets/img/ic_dot_triangle.svg"
                alt="bullet"
                class="w-6 h-6 mt-1.5 flex-shrink-0"
              />
              <span>차량보관소 방문</span>
            </li>
            <li class="flex items-start gap-3">
              <img
                src="../../assets/img/ic_dot_triangle.svg"
                alt="bullet"
                class="w-6 h-6 mt-1.5 flex-shrink-0"
              />
              <span>입찰 대상 차량직접 확인</span>
            </li>
          </ul>
          <ul class="list-disc text-sm md:text-xl list-inside">
            <li>
              입찰자는 차량보관소를 방문하여, 차량을 직접 확인한 후, 입찰에
              참여하시기 바랍니다.
            </li>
          </ul>
        </div>
      </div>
      <div class="h-11 w-full flex items-end justify-end pr-8">
        <button
          class="bg-zinc-100 text-black border-l border-t border-r border-zinc-300 rounded-t-md px-4 py-2 flex items-center justify-center gap-2"
        >
          <span>닫기</span>
          <div
            class="size-4 text-[#A10076] rotate-270"
            style="
              mask: url('../assets/img/ic_double_arrow.svg') no-repeat center;
              -webkit-mask: url('../assets/img/ic_double_arrow.svg') no-repeat
                center;
              mask-size: contain;
              -webkit-mask-size: contain;
              background-color: currentColor;
            "
          ></div>
        </button>
      </div>
      <ul
        class="list-disc text-lg list-inside bg-zinc-100 w-full py-12 px-8 border-t border-zinc-300"
      >
        <span class="font-bold flex pb-4"
          >차량검색은 기관별검색 또는 차량검색으로 검색할 수 있습니다.
        </span>
        <span class="font-bold">기관별검색 </span>
        <li>
          오토마트와 계약된 기관들의 목록으로 지역별로 기관을 기준으로 검색이
          가능합니다.
        </li>
        <li>
          현재 공고된 진행중인 기관을 지역별 기관별로 조회할 수 있으며, 입찰을
          하였다면 금일발표 또는 발표완료에서 결과를 조회하는 것이 편리합니다.
        </li>
        <li>
          처음 입찰을 하는 것이라면 차량검색에서 이미 입찰을 하여서 입찰한
          기관을 알고 있다면 기관별 검색을 통해 검색하는 것이 편리합니다.
        </li>
        <li>진행기관을 클릭시 해당 기관의 공고문으로 접속됩니다.</li>
        <span class="font-bold flex pt-8">차량검색</span>
        <li>
          차량을 각 조건을 설정하여 검색할 수 있으며, 매각대상 차량의 기본 정보
          및 보관장소에 대한 정보를 제공합니다.
        </li>
        <li>
          검색조건 : 진행기관, 보관소, 차량명, 차량번호, 예정가 범위, 모델연도,
          변속기, 연료 등
        </li>
        <li>
          조회된 차량번호를 클릭하면 클릭한 차량에 대한 기본 정보 및 사진 정보와
          차량에 대한 세부정보를 확인할 수 있습니다.<br />
          차량 기본정보는 차량명, 모델연도, 주행거리, 연료, 변속기, 색상,
          매각예정가격 등과 사진(기본 2~3장)을 제공합니다.
        </li>
        <li>
          오토마트 보관소에 입고되어 있는 차량은 차량점검서를 제공합니다.(기본
          참고 자료로만 사용하십시오)<br />
          <span class="text-[#A10076]"
            >주의: 차량점검서는 참고자료로만 사용해야 하며 차량은 보관소로 직접
            방문하여 확인하셔야 합니다.
          </span>
        </li>
        <li>
          조회된 보관소 명을 클릭하면 보관소에 대한 정보를 확인할 수 있습니다.(
          위치, 약도, 유의사항 등)
        </li>
        <li>
          입찰을 원하는 차량을 검색한 후, 해당 차량의 입찰 버튼을 클릭하면 입찰
          공고문으로 접속됩니다.
        </li>
      </ul>
    </article>

    <article class="flex gap-4 items-center">
      <div
        class="bg-[#A10076] text-white rounded-full flex justify-center items-center px-4"
      >
        <span class="text-xl font-normal"
          >STEP <span class="font-bold">3</span></span
        >
      </div>
      <span class="text-[30px] font-bold text-[#A10076]"
        >입찰준비 및 입찰신청</span
      >
    </article>
    <article
      class="border border-zinc-300 rounded-[16px] w-full flex flex-col items-center justify-center"
    >
      <div
        class="flex flex-col md:flex-row items-center gap-8 pt-8 justify-center w-full"
      >
        <img
          src="../../assets/img/img_car_step_03.png"
          alt="car_step_03"
          class="w-[320px] h-50 object-contain"
        />
        <div class="flex flex-col gap-6 w-full px-4 md:px-0 md:w-1/2">
          <ul class="gap-2 text-2xl md:text-[30px] text-black font-semibold">
            <li class="flex items-start gap-3">
              <img
                src="../../assets/img/ic_dot_triangle.svg"
                alt="bullet"
                class="w-6 h-6 mt-1.5 flex-shrink-0"
              />
              <span>공고문 확인</span>
            </li>
            <li class="flex items-start gap-3">
              <img
                src="../../assets/img/ic_dot_triangle.svg"
                alt="bullet"
                class="w-6 h-6 mt-1.5 flex-shrink-0"
              />
              <span>입찰가격 결정 및 입찰 참여</span>
            </li>
          </ul>
          <ul class="list-disc text-sm md:text-xl list-inside">
            <li>
              입찰자는 필히 공고문을 확인하시고 차량이 보관된 보관소를 방문하여
              차량을 직접 확인한 후 입찰을 진행하시기 바랍니다.
            </li>
          </ul>
        </div>
      </div>
      <div class="h-11 w-full flex items-end justify-end pr-8">
        <button
          class="bg-zinc-100 text-black border-l border-t border-r border-zinc-300 rounded-t-md px-4 py-2 flex items-center justify-center gap-2"
        >
          <span>자세히 보기</span>
          <div
            class="size-4 text-[#A10076] rotate-270"
            style="
              mask: url('../assets/img/ic_double_arrow.svg') no-repeat center;
              -webkit-mask: url('../assets/img/ic_double_arrow.svg') no-repeat
                center;
              mask-size: contain;
              -webkit-mask-size: contain;
              background-color: currentColor;
            "
          ></div>
        </button>
      </div>
    </article>

    <article class="flex gap-4 items-center">
      <div
        class="bg-[#A10076] text-white rounded-full flex justify-center items-center px-4"
      >
        <span class="text-xl font-normal"
          >STEP <span class="font-bold">4</span></span
        >
      </div>
      <span class="text-[30px] font-bold text-[#A10076]"
        >입찰결과 확인 및 입찰금 입금</span
      >
    </article>
    <article
      class="border border-zinc-300 rounded-[16px] w-full flex flex-col items-center justify-center"
    >
      <div
        class="flex flex-col md:flex-row items-center gap-8 pt-8 justify-center w-full"
      >
        <img
          src="../../assets/img/img_car_step_04.png"
          alt="car_step_04"
          class="w-[320px] h-50 object-contain"
        />
        <div class="flex flex-col gap-6 w-full px-4 md:px-0 md:w-1/2">
          <ul class="gap-2 text-2xl md:text-[30px] text-black font-semibold">
            <li class="flex items-start gap-3">
              <img
                src="../../assets/img/ic_dot_triangle.svg"
                alt="bullet"
                class="w-6 h-6 mt-1.5 flex-shrink-0"
              />
              <span
                >입찰결과 확인 및 입찰금 입금<span
                  class="font-normal text-xl md:text-2xl"
                  >[각 기관의 결과조회에서 직접 확인]</span
                ></span
              >
            </li>
            <li class="flex items-start gap-3">
              <img
                src="../../assets/img/ic_dot_triangle.svg"
                alt="bullet"
                class="w-6 h-6 mt-1.5 flex-shrink-0"
              />
              <span
                >미 낙찰시 보증금 반환<span
                  class="font-normal text-xl md:text-2xl"
                  >[반환 일시는 각 기관마다 상이]</span
                ></span
              >
            </li>
            <li class="flex items-start gap-3">
              <img
                src="../../assets/img/ic_dot_triangle.svg"
                alt="bullet"
                class="w-6 h-6 mt-1.5 flex-shrink-0"
              />
              <span
                >낙찰시 보증금을 제외한 입찰금(잔금) 입금<br />
                <span class="font-normal text-xl md:text-2xl"
                  >[잔금 입금 마감기한은 해당 공고문 참조]</span
                ></span
              >
            </li>
          </ul>
          <ul class="list-disc text-sm md:text-xl list-inside">
            <li>매각결과는 각 기관별 결과조회에서 낙찰여부를 확인합니다.</li>
            <li>미 낙찰시, 보증금은 지정된 계좌로 반환됩니다.</li>
            <li>
              낙찰시, 보증금을 제외한 입찰금액(잔금)을 마감기한까지 지정계좌로
              입금해야 합니다.
            </li>
          </ul>
        </div>
      </div>
      <div class="h-11 w-full flex items-end justify-end pr-8">
        <button
          class="bg-zinc-100 text-black border-l border-t border-r border-zinc-300 rounded-t-md px-4 py-2 flex items-center justify-center gap-2"
        >
          <span>자세히 보기</span>
          <div
            class="size-4 text-[#A10076] rotate-270"
            style="
              mask: url('../assets/img/ic_double_arrow.svg') no-repeat center;
              -webkit-mask: url('../assets/img/ic_double_arrow.svg') no-repeat
                center;
              mask-size: contain;
              -webkit-mask-size: contain;
              background-color: currentColor;
            "
          ></div>
        </button>
      </div>
    </article>

    <article class="flex gap-4 items-center">
      <div
        class="bg-[#A10076] text-white rounded-full flex justify-center items-center px-4"
      >
        <span class="text-xl font-normal"
          >STEP <span class="font-bold">5</span></span
        >
      </div>
      <span class="text-[30px] font-bold text-[#A10076]"
        >낙찰차량 소유권 이전</span
      >
    </article>
    <article
      class="border border-zinc-300 rounded-[16px] w-full flex flex-col items-center justify-center"
    >
      <div
        class="flex flex-col md:flex-row items-center gap-8 pt-8 justify-center w-full"
      >
        <img
          src="../../assets/img/img_car_step_05.png"
          alt="car_step_05"
          class="w-[320px] h-50 object-contain"
        />
        <div class="flex flex-col gap-6 w-full px-4 md:px-0 md:w-1/2">
          <ul class="gap-2 text-[30px] text-black font-semibold">
            <li class="flex items-start gap-3">
              <img
                src="../../assets/img/ic_dot_triangle.svg"
                alt="bullet"
                class="w-6 h-6 mt-1.5 flex-shrink-0"
              />
              <span
                >잔금 납부 후, 등록관서로 소유권 이전서류 처리<br /><span
                  class="font-normal text-xl md:text-2xl"
                  >[진행기관 또는 등록대행기관]</span
                ></span
              >
            </li>
            <li class="flex items-start gap-3">
              <img
                src="../../assets/img/ic_dot_triangle.svg"
                alt="bullet"
                class="w-6 h-6 mt-1.5 flex-shrink-0"
              />
              <span>등록관서에 소유권 이전 등록 [낙찰자]</span>
            </li>
          </ul>
          <ul class="list-disc text-sm md:text-xl list-inside">
            <li>
              관공서 공매 : 잔금 입금시 소유권 이전서류를 등록관서로 전송되고
              낙찰자는 직접 이전 들록을 합니다.
            </li>
            <li>
              금융/개인/회원사 공개매각: 등록대행기관에서 소유권 이전 절차를
              안내합니다.
            </li>
          </ul>
        </div>
      </div>
      <div class="h-11 w-full flex items-end justify-end pr-8">
        <button
          class="bg-zinc-100 text-black border-l border-t border-r border-zinc-300 rounded-t-md px-4 py-2 flex items-center justify-center gap-2"
        >
          <span>자세히 보기</span>
          <div
            class="size-4 text-[#A10076] rotate-270"
            style="
              mask: url('../assets/img/ic_double_arrow.svg') no-repeat center;
              -webkit-mask: url('../assets/img/ic_double_arrow.svg') no-repeat
                center;
              mask-size: contain;
              -webkit-mask-size: contain;
              background-color: currentColor;
            "
          ></div>
        </button>
      </div>
    </article>

    <article class="flex gap-4 items-center">
      <div
        class="bg-[#A10076] text-white rounded-full flex justify-center items-center px-4"
      >
        <span class="text-xl font-normal"
          >STEP <span class="font-bold">6</span></span
        >
      </div>
      <span class="text-[30px] font-bold text-[#A10076]"
        >공매/공개매각완료</span
      >
    </article>
    <article
      class="border border-zinc-300 rounded-[16px] w-full flex flex-col items-center justify-center"
    >
      <div
        class="flex flex-col md:flex-row items-center gap-8 pt-8 justify-center w-full"
      >
        <img
          src="../../assets/img/img_car_step_06.png"
          alt="car_step_06"
          class="w-[320px] h-50 object-contain"
        />
        <div class="flex flex-col gap-6 w-full px-4 md:px-0 md:w-1/2">
          <ul class="gap-2 text-2xl md:text-[30px] text-black font-semibold">
            <li class="flex items-start gap-3">
              <img
                src="../../assets/img/ic_dot_triangle.svg"
                alt="bullet"
                class="w-6 h-6 mt-1.5 flex-shrink-0"
              />
              <span
                >낙찰차량 인수 및 출고시 공매 및 공개매각이 완료됩니다.</span
              >
            </li>
            <li class="flex items-start gap-3">
              <img
                src="../../assets/img/ic_dot_triangle.svg"
                alt="bullet"
                class="w-6 h-6 mt-1.5 flex-shrink-0"
              />
              <span
                >차량인수는 낙찰일로부터 15일 이내에 인수하셔야 하며, 인수
                지체시 보관비용이 청구됩니다.</span
              >
            </li>
          </ul>
          <ul class="list-disc text-sm md:text-xl list-inside">
            <li>
              관공서 공매: 잔금 납부와 이전이 완료되면 낙찰자는 차량을
              인수합니다. (절차는 각 기관마다 상이)
            </li>
            <li>
              금융/개인/회원사 공개매각: 소유권 이전이 완료되면 차량을 인수할 수
              있습니다.
            </li>
          </ul>
        </div>
      </div>
      <div class="h-11 w-full flex items-end justify-end pr-8">
        <button
          class="bg-zinc-100 text-black border-l border-t border-r border-zinc-300 rounded-t-md px-4 py-2 flex items-center justify-center gap-2"
        >
          <span>자세히 보기</span>
          <div
            class="size-4 text-[#A10076] rotate-270"
            style="
              mask: url('../assets/img/ic_double_arrow.svg') no-repeat center;
              -webkit-mask: url('../assets/img/ic_double_arrow.svg') no-repeat
                center;
              mask-size: contain;
              -webkit-mask-size: contain;
              background-color: currentColor;
            "
          ></div>
        </button>
      </div>
    </article>
  </section>
</section>
