<section class="p-8 flex flex-col gap-4">
  <article class="py-8">
    <table class="w-full! border-collapse text-zinc-600">
      <thead class="bg-zinc-100">
        <tr class="bg-zinc-100">
          <th
            class="px-3 py-2.5 text-sm font-semibold text-center min-w-[60px]"
          >
            번호
          </th>
          <th
            class="px-3 py-2.5 text-sm font-semibold text-center md:min-w-[400px]"
          >
            제목
          </th>
          <th
            class="px-3 py-2.5 text-sm font-semibold text-center min-w-[120px]"
          >
            등록일
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="border-t md:border-y border-[#d1d5db] text-center">
          <td class="p-4">13789</td>
          <td class="text-left p-4">
            나의 입찰정보의 잘못된 주소(우편번호) 정보의 초기화 안내
          </td>
          <td class="p-4">2025-01-01</td>
        </tr>

        <tr class="border-t md:border-y border-[#d1d5db] text-center">
          <td class="p-4">13789</td>
          <td class="text-left !py-4">
            나의 입찰정보의 잘못된 주소(우편번호) 정보의 초기화 안내
          </td>
          <td class="p-4">2025-01-01</td>
        </tr>

        <tr class="border-t md:border-y border-[#d1d5db] text-center">
          <td class="p-4">13789</td>
          <td class="text-left !py-4">압류건수 문의</td>
          <td class="p-4">2025-01-01</td>
        </tr>

        <tr class="border-t md:border-y border-[#d1d5db] text-center">
          <td class="p-4">13789</td>
          <td class="text-left p-4">
            나의 입찰정보의 잘못된 주소(우편번호) 정보의 초기화 안내
          </td>
          <td class="p-4">2025-01-01</td>
        </tr>
      </tbody>
    </table>
    <div id="notice-pagination" class="mt-6"></div>
  </article>
</section>
