<div>
  <section>
    <article class="flex flex-col gap-4 sr-only md:not-sr-only">
      <div class="flex justify-center items-center">
        <img
          src="../../assets/img/ic_procedure_1.png"
          alt="procedure_1"
          class="size-[72px] lg:size-[102px] object-contain"
        />
        <hr class="w-full border-none" />
        <img
          src="../../assets/img/ic_procedure_2.png"
          alt="procedure_2"
          class="size-[72px] lg:size-[102px] object-contain"
        />
        <hr class="w-full border-none" />
        <img
          src="../../assets/img/ic_procedure_3.png"
          alt="procedure_3"
          class="size-[72px] lg:size-[102px] object-contain"
        />
        <hr class="w-full border-none" />
        <img
          src="../../assets/img/ic_procedure_4.png"
          alt="procedure_4"
          class="size-[72px] lg:size-[102px] object-contain"
        />
        <hr class="w-full border-none" />
        <img
          src="../../assets/img/ic_procedure_5.png"
          alt="procedure_5"
          class="size-[72px] lg:size-[102px] object-contain"
        />
        <hr class="w-full border-none" />
        <img
          src="../../assets/img/ic_procedure_6.png"
          alt="procedure_6"
          class="size-[72px] lg:size-[102px] object-contain"
        />
      </div>
      <div class="flex justify-center items-center">
        <div
          class="border-2 border-[#A10076] text-[#A10076] rounded-full min-w-[72px] lg:min-w-[86px] flex justify-center items-center"
        >
          <span class="text-base font-normal"
            >STEP <span class="font-bold">1</span></span
          >
        </div>
        <hr class="border-[#A10076] border-dotted w-full border-t-6" />
        <div
          class="border-2 border-[#A10076] text-[#A10076] rounded-full min-w-[72px] lg:min-w-[86px] flex justify-center items-center"
        >
          <span class="text-base font-normal"
            >STEP <span class="font-bold">2</span></span
          >
        </div>
        <hr class="border-[#A10076] border-dotted w-full border-t-6" />
        <div
          class="border-2 border-[#A10076] text-[#A10076] rounded-full min-w-[72px] lg:min-w-[86px] flex justify-center items-center"
        >
          <span class="text-base font-normal"
            >STEP <span class="font-bold">3</span></span
          >
        </div>
        <hr class="border-[#A10076] border-dotted w-full border-t-6" />
        <div
          class="border-2 border-[#A10076] text-[#A10076] rounded-full min-w-[72px] lg:min-w-[86px] flex justify-center items-center"
        >
          <span class="text-base font-normal"
            >STEP <span class="font-bold">4</span></span
          >
        </div>
        <hr class="border-[#A10076] border-dotted w-full border-t-6" />
        <div
          class="border-2 border-[#A10076] text-[#A10076] rounded-full min-w-[72px] lg:min-w-[86px] flex justify-center items-center"
        >
          <span class="text-base font-normal"
            >STEP <span class="font-bold">5</span></span
          >
        </div>
        <hr class="border-[#A10076] border-dotted w-full border-t-6" />
        <div
          class="border-2 border-[#A10076] text-[#A10076] rounded-full min-w-[72px] lg:min-w-[86px] flex justify-center items-center"
        >
          <span class="text-base font-normal"
            >STEP <span class="font-bold">6</span></span
          >
        </div>
      </div>
      <div class="flex justify-center items-center">
        <span class="text-lg lg:text-xl font-semibold min-w-[86px] text-center"
          >내차팔기<br />신청상담</span
        >
        <hr class="w-full border-none" />
        <span class="text-lg lg:text-xl font-semibold min-w-[86px] text-center"
          >내차팔기<br />신청상담</span
        >
        <hr class="w-full border-none" />
        <span class="text-lg lg:text-xl font-semibold min-w-[86px] text-center"
          >내차팔기<br />신청상담</span
        >
        <hr class="w-full border-none" />
        <span class="text-lg lg:text-xl font-semibold min-w-[86px] text-center"
          >내차팔기<br />신청상담</span
        >
        <hr class="w-full border-none" />
        <span class="text-lg lg:text-xl font-semibold min-w-[86px] text-center"
          >내차팔기<br />신청상담</span
        >
        <hr class="w-full border-none" />
        <span class="text-lg lg:text-xl font-semibold min-w-[86px] text-center"
          >내차팔기<br />신청상담</span
        >
      </div>
    </article>
    <article class="flex flex-col gap-4 md:sr-only">
      <div class="flex flex-col gap-4">
        <div class="flex justify-center items-center">
          <img
            src="../../assets/img/ic_procedure_1.png"
            alt="procedure_1"
            class="size-[72px] lg:size-[102px] object-contain"
          />
          <hr class="w-full border-none" />
          <img
            src="../../assets/img/ic_procedure_2.png"
            alt="procedure_2"
            class="size-[72px] lg:size-[102px] object-contain"
          />
          <hr class="w-full border-none" />
          <img
            src="../../assets/img/ic_procedure_3.png"
            alt="procedure_3"
            class="size-[72px] lg:size-[102px] object-contain"
          />
        </div>
        <div class="flex justify-center items-center">
          <div
            class="border-2 border-[#A10076] text-[#A10076] rounded-full min-w-[72px] lg:min-w-[86px] flex justify-center items-center"
          >
            <span class="text-base font-normal"
              >STEP <span class="font-bold">1</span></span
            >
          </div>
          <hr class="border-[#A10076] border-dotted w-full border-t-6" />
          <div
            class="border-2 border-[#A10076] text-[#A10076] rounded-full min-w-[72px] lg:min-w-[86px] flex justify-center items-center"
          >
            <span class="text-base font-normal"
              >STEP <span class="font-bold">2</span></span
            >
          </div>
          <hr class="border-[#A10076] border-dotted w-full border-t-6" />
          <div
            class="border-2 border-[#A10076] text-[#A10076] rounded-full min-w-[72px] lg:min-w-[86px] flex justify-center items-center"
          >
            <span class="text-base font-normal"
              >STEP <span class="font-bold">3</span></span
            >
          </div>
        </div>
        <div class="flex justify-center items-center">
          <span
            class="text-lg lg:text-xl font-semibold min-w-[86px] text-center"
            >내차팔기<br />신청상담</span
          >
          <hr class="w-full border-none" />
          <span
            class="text-lg lg:text-xl font-semibold min-w-[86px] text-center"
            >내차팔기<br />신청상담</span
          >
          <hr class="w-full border-none" />
          <span
            class="text-lg lg:text-xl font-semibold min-w-[86px] text-center"
            >내차팔기<br />신청상담</span
          >
        </div>
      </div>
      <div class="flex flex-col gap-4">
        <div class="flex justify-center items-center">
          <img
            src="../../assets/img/ic_procedure_4.png"
            alt="procedure_4"
            class="size-[72px] lg:size-[102px] object-contain"
          />
          <hr class="w-full border-none" />
          <img
            src="../../assets/img/ic_procedure_5.png"
            alt="procedure_5"
            class="size-[72px] lg:size-[102px] object-contain"
          />
          <hr class="w-full border-none" />
          <img
            src="../../assets/img/ic_procedure_6.png"
            alt="procedure_6"
            class="size-[72px] lg:size-[102px] object-contain"
          />
        </div>
        <div class="flex justify-center items-center">
          <div
            class="border-2 border-[#A10076] text-[#A10076] rounded-full min-w-[72px] lg:min-w-[86px] flex justify-center items-center"
          >
            <span class="text-base font-normal"
              >STEP <span class="font-bold">4</span></span
            >
          </div>
          <hr class="border-[#A10076] border-dotted w-full border-t-6" />
          <div
            class="border-2 border-[#A10076] text-[#A10076] rounded-full min-w-[72px] lg:min-w-[86px] flex justify-center items-center"
          >
            <span class="text-base font-normal"
              >STEP <span class="font-bold">5</span></span
            >
          </div>
          <hr class="border-[#A10076] border-dotted w-full border-t-6" />
          <div
            class="border-2 border-[#A10076] text-[#A10076] rounded-full min-w-[72px] lg:min-w-[86px] flex justify-center items-center"
          >
            <span class="text-base font-normal"
              >STEP <span class="font-bold">6</span></span
            >
          </div>
        </div>
        <div class="flex justify-center items-center">
          <span
            class="text-lg lg:text-xl font-semibold min-w-[86px] text-center"
            >내차팔기<br />신청상담</span
          >
          <hr class="w-full border-none" />
          <span
            class="text-lg lg:text-xl font-semibold min-w-[86px] text-center"
            >내차팔기<br />신청상담</span
          >
          <hr class="w-full border-none" />
          <span
            class="text-lg lg:text-xl font-semibold min-w-[86px] text-center"
            >내차팔기<br />신청상담</span
          >
        </div>
      </div>
    </article>
  </section>
  <section class="flex flex-col py-8">
    <article class="flex gap-4 items-center">
      <div
        class="bg-[#A10076] text-white rounded-full flex justify-center items-center px-4"
      >
        <span class="text-xl font-normal"
          >STEP <span class="font-bold">1</span></span
        >
      </div>
      <span class="text-[30px] font-bold text-[#A10076]"
        >내차팔기 신청상담</span
      >
    </article>
  </section>
</div>
