<div>
  <section class="flex flex-col gap-4 sr-only md:not-sr-only">
    <article class="flex py-6 border-b border-zinc-300 items-center gap-4">
      <h1 class="text-2xl font-bold">
        Why <span class="text-[#A10076]">Automart</span>?
      </h1>
      <span class="text-zinc-600">
        개인공개매각 출품 관련하여 오토마트의 다양한 서비스를
        안내드립니다.</span
      >
    </article>

    <article class="p-8 grid grid-cols-2 border-b border-zinc-300">
      <div class="flex flex-col justify-center gap-6">
        <img
          src="../assets/img/ic_text_bubble_1.svg"
          alt="text_bubble_1"
          class="size-16"
        />
        <span class="text-[30px] font-semibold">
          입찰자격 제한없이<br />
          <span class="text-[#A10076]">누구나, 언제 어디서나</span> 입찰참여
          가능!
        </span>
        <ul class="list-disc text-xl">
          <li class="ml-4">
            대한민국 국민 누구나, 외국인도 외국인 등록증이 있으면 입찰이
            가능합니다.
          </li>
          <li class="ml-4">
            인터넷 모바일 서비스를 이용하여 언제 어디서나 입찰신청이 가능합니다.
          </li>
        </ul>
      </div>
      <div class="flex justify-center items-center">
        <div class="flex justify-center items-center">
          <div
            class="w-[400px] h-[300px] overflow-hidden sr-only lg:not-sr-only"
          >
            <img
              src="../assets/img/img_introduce_1.png"
              alt="introduce_3"
              class="object-contain w-full h-full"
            />
          </div>
          <img
            src="../assets/img/img_introduce_1.png"
            alt="introduce_3"
            class="object-contain w-full h-full lg:sr-only"
          />
        </div>
      </div>
    </article>

    <article class="p-8 grid grid-cols-2 border-b border-zinc-300">
      <div class="flex items-center justify-center">
        <div class="flex justify-center items-center">
          <div
            class="w-[400px] h-[300px] overflow-hidden sr-only lg:not-sr-only"
          >
            <img
              src="../assets/img/img_introduce_2.png"
              alt="introduce_2"
              class="object-contain w-full h-full"
            />
          </div>
          <img
            src="../assets/img/img_introduce_2.png"
            alt="introduce_2"
            class="object-contain w-full h-full lg:sr-only"
          />
        </div>
      </div>
      <div class="flex flex-col justify-center gap-6">
        <img
          src="../assets/img/ic_text_bubble_2.svg"
          alt="text_bubble_2"
          class="size-16"
        />
        <span class="text-[30px] font-semibold">
          오토마트 자동차공매는<br />
          <span class="text-[#A10076]">100% 비대면 방식</span>의 소비자간 직거래
          방식
        </span>
        <ul class="list-disc text-xl">
          <li class="ml-4">
            출품자와 입찰자는 100% 비대면 방식으로 차량을 거래합니다.
          </li>
          <li class="ml-4">
            중계자 없이 순수하게 소비자간의 직거래 방식으로 중간 마진 없는
            중고차 거래가 가능합니다.
          </li>
        </ul>
      </div>
    </article>

    <article class="p-8 grid grid-cols-2 border-b border-zinc-300">
      <div class="flex flex-col justify-center gap-6">
        <img
          src="../assets/img/ic_text_bubble_3.svg"
          alt="text_bubble_3"
          class="size-16"
        />
        <span class="text-[30px] font-semibold">
          정확한 차량 정보 제공을 위한 <br />
          <span class="text-[#A10076]">차량점검서 및 점검동영상 </span>서비스
        </span>
        <ul class="list-disc text-xl">
          <li class="ml-4">
            차량 전문가가 작성한 차량점검서 및 차량사진, 점검동영상 정보를
            제공합니다.
          </li>
        </ul>
      </div>
      <div class="flex justify-center items-center">
        <div class="w-[400px] h-[300px] overflow-hidden sr-only lg:not-sr-only">
          <img
            src="../assets/img/img_introduce_3.png"
            alt="introduce_3"
            class="object-contain w-full h-full"
          />
        </div>
        <img
          src="../assets/img/img_introduce_3.png"
          alt="introduce_3"
          class="object-contain w-full h-full lg:sr-only"
        />
      </div>
    </article>

    <article class="p-8 grid grid-cols-2 border-b border-zinc-300">
      <div class="flex items-center justify-center">
        <div class="flex justify-center items-center">
          <div
            class="w-[400px] h-[300px] overflow-hidden sr-only lg:not-sr-only"
          >
            <img
              src="../assets/img/img_introduce_4.png"
              alt="introduce_4"
              class="object-contain w-full h-full"
            />
          </div>
          <img
            src="../assets/img/img_introduce_4.png"
            alt="introduce_4"
            class="object-contain w-full h-full lg:sr-only"
          />
        </div>
      </div>
      <div class="flex flex-col justify-center gap-6">
        <img
          src="../assets/img/ic_text_bubble_4.svg"
          alt="text_bubble_2"
          class="size-16"
        />
        <span class="text-[30px] font-semibold">
          <span class="text-[#A10076]">전국 보관소 네트워크 운영</span>을 통한
          <br />
          차량전시 및 보관서비스 제공
        </span>
        <ul class="list-disc text-xl">
          <li class="ml-4">
            인천 직영보관소(직영), 및 경매장을 포함하여 전국 약 26개 보관소를
            운영하고 있습니다.
          </li>
          <li class="ml-4">
            가까운 보관소를 이용하여 차량의 출품, 입고, 현장 확인, 출고 서비스를
            받으실 수 있습니다.
          </li>
        </ul>
      </div>
    </article>

    <article class="p-8 grid grid-cols-2 border-b border-zinc-300">
      <div class="flex flex-col justify-center gap-6">
        <img
          src="../assets/img/ic_text_bubble_5.svg"
          alt="text_bubble_5"
          class="size-16"
        />
        <span class="text-[30px] font-semibold">
          자동차거래를 위한 모든 기능을 <br />
          <span class="text-[#A10076]">One-Stop 서비스</span> 형태로 제공합니다.
        </span>
        <ul class="list-disc text-xl">
          <li class="ml-4">
            자동차 거래를 위한 모든 기능을 One-Stop 서비스 형태로 제공합니다.
          </li>
          <li class="ml-4">
            내차팔기 고객님은 Home-Front 무료 탁송 서비스로 집앞에서 차량을
            인계하실 수 있습니다.
          </li>
        </ul>
      </div>
      <div class="flex justify-center items-center">
        <div class="w-[400px] h-[300px] overflow-hidden sr-only lg:not-sr-only">
          <img
            src="../assets/img/img_introduce_5.png"
            alt="introduce_5"
            class="object-contain w-full h-full"
          />
        </div>
        <img
          src="../assets/img/img_introduce_5.png"
          alt="introduce_5"
          class="object-contain w-full h-full lg:sr-only"
        />
      </div>
    </article>

    <article class="p-8 grid grid-cols-2">
      <div class="flex items-center justify-center">
        <div class="flex justify-center items-center">
          <div
            class="w-[400px] h-[300px] overflow-hidden sr-only lg:not-sr-only"
          >
            <img
              src="../assets/img/img_introduce_6.png"
              alt="introduce_6"
              class="object-contain w-full h-full"
            />
          </div>
          <img
            src="../assets/img/img_introduce_6.png"
            alt="introduce_6"
            class="object-contain w-full h-full lg:sr-only"
          />
        </div>
      </div>
      <div class="flex flex-col justify-center gap-6">
        <img
          src="../assets/img/ic_text_bubble_6.svg"
          alt="text_bubble_6"
          class="size-16"
        />
        <span class="text-[30px] font-semibold">
          20년 공매경험을 바탕으로
          <span class="text-[#A10076]"
            >안전하고<br />
            투명한 자동차 거래환경</span
          >을 제공합니다.
        </span>
        <ul class="list-disc text-xl">
          <li class="ml-4">
            20여년의 공매 경험으로 안전하고 투명한 자동차 거래 환경을 제공하며,
            철저한 개인보호정책을 시행합니다.
          </li>
          <li class="ml-4">
            낙찰차량은 소유권이전이 완료된 후, 낙찰자에게 인계되기 때문에
            출품고객님을 안전하게 보호합니다.
          </li>
        </ul>
      </div>
    </article>
  </section>
  <section class="flex mb-8 flex-col gap-4 md:sr-only">
    <article class="flex flex-col py-6">
      <h1 class="text-base font-bold">
        Why <span class="text-[#A10076]">Automart</span>?
      </h1>
      <span class="text-zinc-600 text-sm">
        개인공개매각 출품 관련하여 오토마트의 다양한 서비스를 안내드립니다.
      </span>
    </article>

    <article
      class="flex flex-col p-4 border border-zinc-300 rounded-[16px] items-center justify-center gap-6"
    >
      <img
        src="../assets/img/ic_text_bubble_1.svg"
        alt="text_bubble_1"
        class="size-16"
      />

      <span class="text-xl font-semibold text-center">
        입찰자격 제한없이
        <span class="text-[#A10076]">누구나, <br />언제 어디서나</span> 입찰참여
        가능!
      </span>
      <ul class="list-disc text-sm list-inside">
        <li>
          대한민국 국민 누구나, 외국인도 외국인 등록증이 있으면 입찰이
          가능합니다.
        </li>
        <li>
          인터넷 모바일 서비스를 이용하여 언제 어디서나 입찰신청이 가능합니다.
        </li>
      </ul>
      <img
        src="../assets/img/img_introduce_1.png"
        alt="introduce_1"
        class="w-[310px] h-[180px] object-contain"
      />
    </article>

    <article
      class="flex flex-col p-4 border border-zinc-300 rounded-[16px] items-center justify-center gap-6"
    >
      <img
        src="../assets/img/ic_text_bubble_2.svg"
        alt="text_bubble_2"
        class="size-16"
      />

      <span class="text-xl font-semibold text-center">
        오토마트 자동차공매는 100%<br />
        <span class="text-[#A10076]">비대면 방식</span>의 소비자간 직거래 방식
      </span>
      <ul class="list-disc text-sm list-inside">
        <li>출품자와 입찰자는 100% 비대면 방식으로 차량을 거래합니다.</li>
        <li>
          중계자 없이 순수하게 소비자간의 직거래 방식으로 중간 마진 없는 중고차
          거래가 가능합니다.
        </li>
      </ul>
      <img
        src="../assets/img/img_introduce_2.png"
        alt="introduce_2"
        class="w-[310px] h-[180px] object-contain"
      />
    </article>

    <article
      class="flex flex-col p-4 border border-zinc-300 rounded-[16px] items-center justify-center gap-6"
    >
      <img
        src="../assets/img/ic_text_bubble_3.svg"
        alt="text_bubble_3"
        class="size-16"
      />

      <span class="text-xl font-semibold text-center">
        정확한 차량 정보 제공을 위한 <br />
        <span class="text-[#A10076]">차량점검서 및 점검동영상 </span>서비스
      </span>
      <ul class="list-disc text-sm list-inside">
        <li>
          차량 전문가가 작성한 차량점검서 및 차량사진, 점검동영상 정보를
          제공합니다.
        </li>
      </ul>
      <img
        src="../assets/img/img_introduce_3.png"
        alt="introduce_3"
        class="w-[310px] h-[180px] object-contain"
      />
    </article>

    <article
      class="flex flex-col p-4 border border-zinc-300 rounded-[16px] items-center justify-center gap-6"
    >
      <img
        src="../assets/img/ic_text_bubble_4.svg"
        alt="text_bubble_4"
        class="size-16"
      />

      <span class="text-xl font-semibold text-center">
        <span class="text-[#A10076]">전국 보관소 네트워크 운영</span>을 통한
        <br />
        차량전시 및 보관서비스 제공
      </span>
      <ul class="list-disc text-sm list-inside">
        <li>
          인천 직영보관소(직영), 및 경매장을 포함하여 전국 약 26개 보관소를
          운영하고 있습니다.
        </li>
        <li>
          가까운 보관소를 이용하여 차량의 출품, 입고, 현장 확인, 출고 서비스를
          받으실 수 있습니다.
        </li>
      </ul>
      <img
        src="../assets/img/img_introduce_4.png"
        alt="introduce_4"
        class="w-[310px] h-[180px] object-contain"
      />
    </article>

    <article
      class="flex flex-col p-4 border border-zinc-300 rounded-[16px] items-center justify-center gap-6"
    >
      <img
        src="../assets/img/ic_text_bubble_5.svg"
        alt="text_bubble_5"
        class="size-16"
      />

      <span class="text-xl font-semibold text-center">
        자동차거래를 위한 모든 기능을 <br />
        <span class="text-[#A10076]">One-Stop 서비스</span> 형태로 제공합니다.
      </span>
      <ul class="list-disc text-sm list-inside">
        <li>
          자동차 거래를 위한 모든 기능을 One-Stop 서비스 형태로 제공합니다.
        </li>
        <li>
          내차팔기 고객님은 Home-Front 무료 탁송 서비스로 집앞에서 차량을
          인계하실 수 있습니다.
        </li>
      </ul>
      <img
        src="../assets/img/img_introduce_5.png"
        alt="introduce_5"
        class="w-[310px] h-[180px] object-contain"
      />
    </article>

    <article
      class="flex flex-col p-4 border border-zinc-300 rounded-[16px] items-center justify-center gap-6"
    >
      <img
        src="../assets/img/ic_text_bubble_6.svg"
        alt="text_bubble_6"
        class="size-16"
      />

      <span class="text-xl font-semibold text-center">
        20년 공매경험을 바탕으로
        <span class="text-[#A10076]"
          >안전하고<br />
          투명한 자동차 거래환경</span
        >을 제공합니다.
      </span>
      <ul class="list-disc text-sm list-inside">
        <li>
          20여년의 공매 경험으로 안전하고 투명한 자동차 거래 환경을 제공하며,
          철저한 개인보호정책을 시행합니다.
        </li>
        <li>
          낙찰차량은 소유권이전이 완료된 후, 낙찰자에게 인계된 후, 낙찰자에게
          인계되기 때문에 출품고객님을 안전하게 보호합니다.
        </li>
      </ul>
      <img
        src="../assets/img/img_introduce_6.png"
        alt="introduce_6"
        class="w-[310px] h-[180px] object-contain"
      />
    </article>
  </section>
</div>
