<div>
  <article class="flex py-4 items-center gap-4">
    <h1 class="text-[30px] font-bold text-[#A10076]">출품진행절차</h1>
  </article>
  <article class="flex py-4 items-center gap-4 sr-only md:not-sr-only">
    <div class="flex items-center justify-center w-full px-16">
      <div class="flex flex-col items-center justify-center gap-4">
        <div
          class="rounded-full border py-3 flex flex-col items-center justify-center size-20 lg:size-[100px] overflow-hidden"
        >
          <span class="text-base lg:text-xl">STEP</span>
          <span class="text-2xl lg:text-[30px]">01</span>
        </div>
        <span class="text-base lg:text-xl">출품상담</span>
      </div>
      <hr class="flex-1 border-t-1 border-[#A10076] h-10 min-w-4" />
      <div class="flex flex-col items-center justify-center gap-4">
        <div
          class="rounded-full border py-3 flex flex-col items-center justify-center size-20 lg:size-[100px] bg-[#A10076] text-white overflow-hidden"
        >
          <span class="text-base lg:text-xl">STEP</span>
          <span class="text-2xl lg:text-[30px]">02</span>
        </div>
        <span class="text-base lg:text-xl">견인입고</span>
      </div>
      <hr class="flex-1 border-t-1 border-[#A10076] h-10 min-w-4" />
      <div class="flex flex-col items-center justify-center gap-4">
        <div
          class="rounded-full border py-3 flex flex-col items-center justify-center size-20 lg:size-[100px] overflow-hidden"
        >
          <span class="text-base lg:text-xl">STEP</span>
          <span class="text-2xl lg:text-[30px]">03</span>
        </div>
        <span class="text-base lg:text-xl">차량점검</span>
      </div>
      <hr class="flex-1 border-t-1 border-[#A10076] h-10 min-w-4" />
      <div class="flex flex-col items-center justify-center gap-4">
        <div
          class="rounded-full border py-3 flex flex-col items-center justify-center size-20 lg:size-[100px] overflow-hidden"
        >
          <span class="text-base lg:text-xl">STEP</span>
          <span class="text-2xl lg:text-[30px]">04</span>
        </div>
        <span class="text-base lg:text-xl">공매진행</span>
      </div>
      <hr class="flex-1 border-t-1 border-[#A10076] h-10 min-w-4" />
      <div class="flex flex-col items-center justify-center gap-4">
        <div
          class="rounded-full border py-3 flex flex-col items-center justify-center size-20 lg:size-[100px] overflow-hidden"
        >
          <span class="text-base lg:text-xl">STEP</span>
          <span class="text-2xl lg:text-[30px]">05</span>
        </div>
        <span class="text-base lg:text-xl">소유권 이전</span>
      </div>
      <hr class="flex-1 border-t-1 border-[#A10076] h-10 min-w-4" />
      <div class="flex flex-col items-center justify-center gap-4">
        <div
          class="rounded-full border py-3 flex flex-col items-center justify-center size-20 lg:size-[100px] overflow-hidden"
        >
          <span class="text-base lg:text-xl">STEP</span>
          <span class="text-2xl lg:text-[30px]">06</span>
        </div>
        <span class="text-base lg:text-xl">공매 완료</span>
      </div>
    </div>
  </article>
  <article class="flex flex-col py-4 items-center gap-4 md:sr-only">
    <div class="flex items-center justify-center w-full px-4">
      <div class="flex flex-col items-center justify-center gap-4">
        <div
          class="rounded-full border py-3 flex flex-col items-center justify-center size-20 overflow-hidden"
        >
          <span class="text-base">STEP</span>
          <span class="text-2xl">01</span>
        </div>
        <span class="text-base">출품상담</span>
      </div>
      <hr class="flex-1 border-t-1 border-[#A10076] h-10 min-w-2" />
      <div class="flex flex-col items-center justify-center gap-4">
        <div
          class="rounded-full border py-3 flex flex-col items-center justify-center size-20 bg-[#A10076] text-white overflow-hidden"
        >
          <span class="text-base">STEP</span>
          <span class="text-2xl">02</span>
        </div>
        <span class="text-base">견인입고</span>
      </div>
      <hr class="flex-1 border-t-1 border-[#A10076] h-10 min-w-2" />
      <div class="flex flex-col items-center justify-center gap-4">
        <div
          class="rounded-full border py-3 flex flex-col items-center justify-center size-20 overflow-hidden"
        >
          <span class="text-base">STEP</span>
          <span class="text-2xl">03</span>
        </div>
        <span class="text-base">차량점검</span>
      </div>
      <hr class="w-7 border-t-1 border-[#A10076] h-10 min-w-2" />
    </div>
    <div class="flex items-center justify-center w-full px-4">
      <hr class="w-7 border-t-1 border-[#A10076] h-10 min-w-2" />
      <div class="flex flex-col items-center justify-center gap-4">
        <div
          class="rounded-full border py-3 flex flex-col items-center justify-center size-20 overflow-hidden"
        >
          <span class="text-base">STEP</span>
          <span class="text-2xl">04</span>
        </div>
        <span class="text-base">공매진행</span>
      </div>
      <hr class="flex-1 border-t-1 border-[#A10076] h-10 min-w-2" />
      <div class="flex flex-col items-center justify-center gap-4">
        <div
          class="rounded-full border py-3 flex flex-col items-center justify-center size-20 bg-[#A10076] text-white overflow-hidden"
        >
          <span class="text-base">STEP</span>
          <span class="text-2xl">05</span>
        </div>
        <span class="text-base">소유권 이전</span>
      </div>
      <hr class="flex-1 border-t-1 border-[#A10076] h-10 min-w-2" />
      <div class="flex flex-col items-center justify-center gap-4">
        <div
          class="rounded-full border py-3 flex flex-col items-center justify-center size-20 overflow-hidden"
        >
          <span class="text-base">STEP</span>
          <span class="text-2xl">06</span>
        </div>
        <span class="text-base">공매 완료</span>
      </div>
    </div>
  </article>
  <article class="flex py-4 items-center gap-4">
    <h1 class="text-[30px] font-bold text-[#A10076]">신청접수내역</h1>
  </article>
  <article class="flex py-4 items-center gap-4">
    <table class="w-full! border-collapse text-zinc-600">
      <thead class="bg-zinc-100">
        <tr class="bg-zinc-100">
          <th class="px-3 py-2.5 text-sm font-semibold text-center">
            접수번호
            <span class="block md:hidden">차량번호</span>
          </th>
          <th class="px-3 py-2.5 text-sm font-semibold text-center">
            신청자명
            <span class="block md:hidden">등록일자</span>
          </th>
          <th class="px-3 py-2.5 text-sm font-semibold text-center">
            연락처
            <span class="block md:hidden">진행상태</span>
          </th>
          <th
            class="px-3 py-2.5 text-sm font-semibold text-center sr-only md:not-sr-only"
          >
            차량번호
          </th>
          <th
            class="px-3 py-2.5 text-sm font-semibold text-center sr-only md:not-sr-only"
          >
            등록일자
          </th>
          <th
            class="px-3 py-2.5 text-sm font-semibold text-center sr-only md:not-sr-only"
          >
            진행상태
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="border-b border-[#d1d5db] bg-white">
          <td colspan="6" class="px-3 py-2.5 text-sm text-center bg-white">
            <span class="text-zinc-300">조회된 차량이 없습니다.</span>
          </td>
        </tr>
      </tbody>
    </table>
  </article>
</div>
