<div class="flex flex-col gap-1">
  <section class="flex items-center justify-center gap-3">
    <div class="flex flex-col lg:flex-row items-center justify-center gap-3">
      <div
        class="rounded-full bg-zinc-300 p-3 min-w-12 min-h-12 size-12 md:size-[82px] md:min-w-[82px] md:min-h-[82px]"
      >
        <div
          class="size-full text-black"
          style="
            mask: url('../assets/img/ic_subscription_1.svg') no-repeat center;
            -webkit-mask: url('../assets/img/ic_subscription_1.svg') no-repeat
              center;
            mask-size: contain;
            -webkit-mask-size: contain;
            background-color: currentColor;
          "
        ></div>
      </div>
      <span class="text-xs md:text-lg font-semibold">1. 유의사항 동의</span>
    </div>

    <div
      class="size-8 text-[#A10076] rotate-180"
      style="
        mask: url('../assets/img/ic_arrow.svg') no-repeat center;
        -webkit-mask: url('../assets/img/ic_arrow.svg') no-repeat center;
        mask-size: contain;
        -webkit-mask-size: contain;
        background-color: currentColor;
      "
    ></div>

    <div class="flex flex-col lg:flex-row items-center justify-center gap-3">
      <div
        class="rounded-full bg-zinc-300 p-3 min-w-12 min-h-12 size-12 md:size-[82px] md:min-w-[82px] md:min-h-[82px]"
      >
        <div
          class="size-full text-black"
          style="
            mask: url('../assets/img/ic_subscription_2.svg') no-repeat center;
            -webkit-mask: url('../assets/img/ic_subscription_2.svg') no-repeat
              center;
            mask-size: contain;
            -webkit-mask-size: contain;
            background-color: currentColor;
          "
        ></div>
      </div>
      <span class="text-xs md:text-lg font-semibold">2. 입찰 신청자 선택</span>
    </div>

    <div
      class="size-8 text-[#A10076] rotate-180"
      style="
        mask: url('../assets/img/ic_arrow.svg') no-repeat center;
        -webkit-mask: url('../assets/img/ic_arrow.svg') no-repeat center;
        mask-size: contain;
        -webkit-mask-size: contain;
        background-color: currentColor;
      "
    ></div>

    <div class="flex flex-col lg:flex-row items-center justify-center gap-3">
      <div
        class="rounded-full bg-zinc-300 p-3 min-w-12 min-h-12 size-12 md:size-[82px] md:min-w-[82px] md:min-h-[82px]"
      >
        <div
          class="size-full text-black"
          style="
            mask: url('../assets/img/ic_subscription_3.svg') no-repeat center;
            -webkit-mask: url('../assets/img/ic_subscription_3.svg') no-repeat
              center;
            mask-size: contain;
            -webkit-mask-size: contain;
            background-color: currentColor;
          "
        ></div>
      </div>
      <span class="text-xs md:text-lg font-semibold">3. 입찰신청서 작성</span>
    </div>

    <div
      class="size-8 text-[#A10076] rotate-180"
      style="
        mask: url('../assets/img/ic_arrow.svg') no-repeat center;
        -webkit-mask: url('../assets/img/ic_arrow.svg') no-repeat center;
        mask-size: contain;
        -webkit-mask-size: contain;
        background-color: currentColor;
      "
    ></div>

    <div class="flex flex-col lg:flex-row items-center justify-center gap-3">
      <div
        class="rounded-full bg-zinc-300 p-3 min-w-12 min-h-12 size-12 md:size-[82px] md:min-w-[82px] md:min-h-[82px]"
      >
        <div
          class="size-full text-black"
          style="
            mask: url('../assets/img/ic_subscription_4.svg') no-repeat center;
            -webkit-mask: url('../assets/img/ic_subscription_4.svg') no-repeat
              center;
            mask-size: contain;
            -webkit-mask-size: contain;
            background-color: currentColor;
          "
        ></div>
      </div>
      <span class="text-xs md:text-lg font-semibold">4. 입찰신청 완료</span>
    </div>
  </section>
  <section class="mt-8">
    <article class="py-6 border-b">
      <div class="flex items-center justify-start gap-1">
        <div
          class="size-3 text-[#A10076]"
          style="
            mask: url('../assets/img/ic_dot_triangle.svg') no-repeat center;
            -webkit-mask: url('../assets/img/ic_dot_triangle.svg') no-repeat
              center;
            mask-size: contain;
            -webkit-mask-size: contain;
            background-color: currentColor;
          "
        ></div>
        <span class="text-2xl font-semibold">입찰자 유의사항</span>
      </div>
      <span class="pl-4 text-lg text-zinc-600"
        >아래 유의사항은 입찰자가 반드시 숙지해야 하는 사항입니다. 확인 후
        입찰을 진행해 주세요.</span
      >
    </article>
    <article
      class="py-6 border-b border-zinc-300 flex justify-between items-end"
    >
      <div class="flex gap-2 items-start">
        <div
          class="border border-[#A10076] rounded-full flex items-center justify-center min-w-4 min-h-4 mt-2"
        >
          <div
            class="size-4 text-[#A10076]"
            style="
              mask: url('../assets/img/ic_dot_triangle.svg') no-repeat center;
              -webkit-mask: url('../assets/img/ic_dot_triangle.svg') no-repeat
                center;
              mask-size: contain;
              -webkit-mask-size: contain;
              background-color: currentColor;
            "
          ></div>
        </div>
        <div class="flex flex-col items-start justify-start gap-1">
          <span class="text-lg text-zinc-600"
            >입찰 안내를 위한
            <span class="text-[#A10076]"
              >각종 자료가 공고사항과 부합되지 아니하더라도</span
            >
            이는 입찰요건이 아니므로 이에 대하여 이의하지 않기로 합니다.
          </span>
          <span class="text-lg text-zinc-600 font-semibold">동의하십니까?</span>
        </div>
      </div>

      <div class="flex items-center justify-center gap-2 min-w-[120px]">
        <input type="checkbox" class="size-6" />
        <span class="text-lg min-w-[84px]"> 동의합니다. </span>
      </div>
    </article>
    <article
      class="py-6 border-b border-zinc-300 flex justify-between items-end"
    >
      <div class="flex gap-2 items-start">
        <div
          class="border border-[#A10076] rounded-full flex items-center justify-center min-w-4 min-h-4 mt-2"
        >
          <div
            class="size-4 text-[#A10076]"
            style="
              mask: url('../assets/img/ic_dot_triangle.svg') no-repeat center;
              -webkit-mask: url('../assets/img/ic_dot_triangle.svg') no-repeat
                center;
              mask-size: contain;
              -webkit-mask-size: contain;
              background-color: currentColor;
            "
          ></div>
        </div>
        <div class="flex flex-col items-start justify-start gap-1">
          <span class="text-lg text-zinc-600"
            >물건에 대한 제3자의 권리침해, 공부 및 지적부상 하자나 행정상의 규제
            또는 규격, 품질, 수량등의 상이에 대하여 진행기관은 일체의 책임을
            지지 아니하므로 입찰자의 책임하에 공부의 열람,현지답사 등으로
            <span class="text-[#A10076]"
              >차량의 상태에 대해서는 본인이 직접 확인한 후 차량 고장수리 및
              하자 보수부분에 대한 차량 점검을 한 후 입찰신청을 하여야
              합니다.</span
            >
          </span>
          <span class="text-lg text-zinc-600 font-semibold"
            >본인 책임하에 차량상태를 직접 확인 후 입찰하시는 것에
            동의하십니까?</span
          >
        </div>
      </div>

      <div class="flex items-center justify-center gap-2 min-w-[120px]">
        <input type="checkbox" class="size-6" />
        <span class="text-lg min-w-[84px]"> 동의합니다. </span>
      </div>
    </article>
    <article
      class="py-6 border-b border-zinc-300 flex justify-between items-end"
    >
      <div class="flex gap-2 items-start">
        <div
          class="border border-[#A10076] rounded-full flex items-center justify-center min-w-4 min-h-4 mt-2"
        >
          <div
            class="size-4 text-[#A10076]"
            style="
              mask: url('../assets/img/ic_dot_triangle.svg') no-repeat center;
              -webkit-mask: url('../assets/img/ic_dot_triangle.svg') no-repeat
                center;
              mask-size: contain;
              -webkit-mask-size: contain;
              background-color: currentColor;
            "
          ></div>
        </div>
        <div class="flex flex-col items-start justify-start gap-1">
          <span class="text-lg text-zinc-600"
            >입찰 자료의
            <span class="text-[#A10076]"
              >입찰자 변경 및 입찰금액은 수정/취소/삭제가 불가하며, 낙찰시
              낙찰자(입찰자) 명의로만 이전 등록이 가능합니다.</span
            ><br />
            (보증금 입금 및 입찰금액이 입력된 입찰은 낙찰대상(입찰 취소 불가)이
            될 수 있습니다.)
          </span>
          <span class="text-lg text-zinc-600 font-semibold">동의하십니까?</span>
        </div>
      </div>

      <div class="flex items-center justify-center gap-2 min-w-[120px]">
        <input type="checkbox" class="size-6" />
        <span class="text-lg min-w-[84px]"> 동의합니다. </span>
      </div>
    </article>
    <article
      class="py-6 border-b border-zinc-300 flex justify-between items-end"
    >
      <div class="flex gap-2 items-start">
        <div
          class="border border-[#A10076] rounded-full flex items-center justify-center min-w-4 min-h-4 mt-2"
        >
          <div
            class="size-4 text-[#A10076]"
            style="
              mask: url('../assets/img/ic_dot_triangle.svg') no-repeat center;
              -webkit-mask: url('../assets/img/ic_dot_triangle.svg') no-repeat
                center;
              mask-size: contain;
              -webkit-mask-size: contain;
              background-color: currentColor;
            "
          ></div>
        </div>
        <div class="flex flex-col items-start justify-start gap-1">
          <span class="text-lg text-zinc-600"
            >낙찰자는 계약 체결시
            <span class="text-[#A10076]">낙찰차량을 반드시 확인해야</span> 하며,
            어떤 이유이든간에 낙찰자가 기간내 낙찰잔대금을 입금하지 않을
            경우에는 입찰보증금은 환불받을 수 없습니다.
          </span>
          <span class="text-lg text-zinc-600 font-semibold">동의하십니까?</span>
        </div>
      </div>

      <div class="flex items-center justify-center gap-2 min-w-[120px]">
        <input type="checkbox" class="size-6" />
        <span class="text-lg min-w-[84px]"> 동의합니다. </span>
      </div>
    </article>
    <article
      class="py-6 border-b border-zinc-300 flex justify-between items-end"
    >
      <div class="flex gap-2 items-start">
        <div
          class="border border-[#A10076] rounded-full flex items-center justify-center min-w-4 min-h-4 mt-2"
        >
          <div
            class="size-4 text-[#A10076]"
            style="
              mask: url('../assets/img/ic_dot_triangle.svg') no-repeat center;
              -webkit-mask: url('../assets/img/ic_dot_triangle.svg') no-repeat
                center;
              mask-size: contain;
              -webkit-mask-size: contain;
              background-color: currentColor;
            "
          ></div>
        </div>
        <div class="flex flex-col items-start justify-start gap-1">
          <span class="text-lg text-zinc-600"
            >부가가치세법에 의해
            <span class="text-[#A10076]">세금계산서가 발급되지 않으며,</span>
            체납자(소유자)의 사업자 등록여부는 확인이 불가합니다.
          </span>
          <span class="text-lg text-zinc-600 font-semibold">동의하십니까?</span>
        </div>
      </div>

      <div class="flex items-center justify-center gap-2 min-w-[120px]">
        <input type="checkbox" class="size-6" />
        <span class="text-lg min-w-[84px]"> 동의합니다. </span>
      </div>
    </article>
    <article
      class="py-6 border-b border-zinc-300 flex justify-between items-end"
    >
      <div class="flex gap-2 items-start">
        <div
          class="border border-[#A10076] rounded-full flex items-center justify-center min-w-4 min-h-4 mt-2"
        >
          <div
            class="size-4 text-[#A10076]"
            style="
              mask: url('../assets/img/ic_dot_triangle.svg') no-repeat center;
              -webkit-mask: url('../assets/img/ic_dot_triangle.svg') no-repeat
                center;
              mask-size: contain;
              -webkit-mask-size: contain;
              background-color: currentColor;
            "
          ></div>
        </div>
        <div class="flex flex-col items-start justify-start gap-1">
          <span class="text-lg text-zinc-600"
            >매각 차량의
            <span class="text-[#A10076]"
              >전 소유자에 대한 인적사항(주민등록번호, 연락처, 주소)</span
            >은 어떠한 경우에도 알려드릴 수 없습니다.
          </span>
          <span class="text-lg text-zinc-600 font-semibold">동의하십니까?</span>
        </div>
      </div>

      <div class="flex items-center justify-center gap-2 min-w-[120px]">
        <input type="checkbox" class="size-6" />
        <span class="text-lg min-w-[84px]"> 동의합니다. </span>
      </div>
    </article>
    <article
      class="py-6 border-b border-zinc-300 flex justify-between items-end"
    >
      <div class="flex gap-2 items-start">
        <div
          class="border border-[#A10076] rounded-full flex items-center justify-center min-w-4 min-h-4 mt-2"
        >
          <div
            class="size-4 text-[#A10076]"
            style="
              mask: url('../assets/img/ic_dot_triangle.svg') no-repeat center;
              -webkit-mask: url('../assets/img/ic_dot_triangle.svg') no-repeat
                center;
              mask-size: contain;
              -webkit-mask-size: contain;
              background-color: currentColor;
            "
          ></div>
        </div>
        <div class="flex flex-col items-start justify-start gap-1">
          <span class="text-lg text-zinc-600"
            ><span class="text-[#A10076]"
              >차량번호가 지역번호인 경우이거나 번호판이 없는 경우에는 낙찰자가
              해당 보관소에서 번호판 유무를 확인 후 재교부 받아야 합니다.</span
            >
            일부 관공서의 경우 낙찰자 소유권이전시 기존 번호판을 교부하지
            않으므로, 소유권 이전등록시 신규번호로 재교부 받아야 하며
            (공고문에서 확인), 특히
            <span class="text-[#A10076]"
              >인천시청의 경우에는 낙찰시 번호판을 폐기하므로 신규 발급을 받아야
              합니다.</span
            >
          </span>
          <span class="text-lg text-zinc-600 font-semibold">동의하십니까?</span>
        </div>
      </div>

      <div class="flex items-center justify-center gap-2 min-w-[120px]">
        <input type="checkbox" class="size-6" />
        <span class="text-lg min-w-[84px]"> 동의합니다. </span>
      </div>
    </article>
    <article
      class="py-6 border-b border-zinc-300 flex justify-between items-end"
    >
      <div class="flex gap-2 items-start">
        <div
          class="border border-[#A10076] rounded-full flex items-center justify-center min-w-4 min-h-4 mt-2"
        >
          <div
            class="size-4 text-[#A10076]"
            style="
              mask: url('../assets/img/ic_dot_triangle.svg') no-repeat center;
              -webkit-mask: url('../assets/img/ic_dot_triangle.svg') no-repeat
                center;
              mask-size: contain;
              -webkit-mask-size: contain;
              background-color: currentColor;
            "
          ></div>
        </div>
        <div class="flex flex-col items-start justify-start gap-1">
          <span class="text-lg text-zinc-600"
            >개인정보 수집 및 이용에 대한 동의
            <div class="border h-30 w-full"></div>
          </span>
          <span class="text-lg text-zinc-600 font-semibold"
            >개인정보 수집 및 이용에 동의하십니까?</span
          >
        </div>
      </div>

      <div class="flex items-center justify-center gap-2 min-w-[120px]">
        <input type="checkbox" class="size-6" />
        <span class="text-lg min-w-[84px]"> 동의합니다. </span>
      </div>
    </article>
  </section>
  <div class="bg-zinc-100 px-8 py-6">
    <div class="flex items-center justify-between">
      <span
        >[모두 동의]을 선택하면 위 동의사항이 모두 선택됩니다.(상기 유의사항의
        내용은 반드시 확인하셔야 합니다)</span
      >
      <div class="flex items-center justify-center gap-2 min-w-[120px]">
        <input type="checkbox" class="size-6" />
        <span class="text-lg min-w-[84px]"> 동의합니다. </span>
      </div>
    </div>
  </div>
  <button
    class="bg-[#A10076] w-full text-white rounded-md md:py-4 md:px-[72px] py-2 px-3 text-xl md:w-fit md:self-center mt-12"
  >
    유의사항 동의 후 입찰
  </button>
</div>
