<div class="flex flex-col gap-1">
  <ul
    class="gap-2 list-image-[url(/assets/img/ic_dot_triangle.svg)] list-inside text-lg text-zinc-600 font-normal"
  >
    <li>
      반드시 대상물건의 실물을 직접 확인한 후, 입찰가를 결정하기 바랍니다.
    </li>
    <li>
      해당 차량의 보관장소를 클릭하면 보관소의 위치 및 연락처를 볼 수 있으며,
      보관소 방문시 반드시 신분증을 제출하셔야 차량 확인이 가능합니다.
    </li>
    <li>
      오토마트 보관소의 경우에는 낙찰후 15일까지 보관소에서 차량을 인수해야
      하며, 15일이후 차량 인수시 별도의 보관료가 부가됩니다.
    </li>
    <li>
      오토마트 보관차량의 보관료 : 1일 6,000원, 그외 관공서 견인보관소는 해당
      기관으로 문의하십시오.
    </li>
    <li class="text-[#A10076]">
      차량인도절차 : 본 공고 차량은 낙찰시 소유권이전등록을 완료해야만 자동차를
      인도받을 수 있습니다.
    </li>
  </ul>

  <article class="mt-8 overflow-x-auto w-full">
    <table class="w-full! border-collapse text-zinc-600 sr-only md:not-sr-only">
      <thead class="bg-zinc-100">
        <tr class="bg-zinc-100">
          <th class="px-3 py-2.5 text-sm font-semibold text-center">
            <input type="checkbox" class="w-4 h-4" />
          </th>
          <th class="px-3 py-2.5 text-sm font-semibold text-center">순번</th>
          <th class="px-3 py-2.5 text-sm font-semibold text-center">
            차량번호<span class="block lg:hidden">차량명</span>
          </th>
          <th
            class="px-3 py-2.5 text-sm font-semibold text-center sr-only lg:not-sr-only"
          >
            차량명
          </th>
          <th class="px-3 py-2.5 text-sm font-semibold text-center">
            모델연도
            <span class="block lg:hidden">변속기</span>
          </th>
          <th
            class="px-3 py-2.5 text-sm font-semibold text-center sr-only lg:not-sr-only"
          >
            변속기
          </th>
          <th
            class="px-3 py-2.5 text-sm font-semibold text-center sr-only lg:not-sr-only"
          >
            예정가
          </th>
          <th class="px-3 py-2.5 text-sm font-semibold text-center">
            보관장소
          </th>
          <th class="px-3 py-2.5 text-sm font-semibold text-center">구분</th>
        </tr>
      </thead>
      <tbody>
        <tr class="border-b border-[#d1d5db] bg-white">
          <td
            class="border-r border-[#d1d5db] px-3 py-2.5 text-sm text-center bg-white"
          >
            <input type="checkbox" class="w-4 h-4" />
          </td>
          <td
            class="border-r border-[#d1d5db] px-3 py-2.5 text-sm text-center bg-white"
          >
            <div class="flex items-center justify-center gap-2">
              <span>1</span>
            </div>
          </td>
          <td
            class="border-r border-[#d1d5db] px-3 py-2.5 text-sm text-center bg-white"
          >
            108모8709
            <span class="block lg:hidden">그랜드스타랙스(GRANDSSTAREX)</span>
          </td>
          <td
            class="border-r border-[#d1d5db] px-3 py-2.5 text-sm text-center bg-white sr-only lg:not-sr-only"
          >
            그랜드스타랙스(GRANDSSTAREX)
          </td>
          <td
            class="border-r border-[#d1d5db] px-3 py-2.5 text-sm text-center bg-white"
          >
            2025
            <span class="block lg:hidden">자동</span>
          </td>
          <td
            class="border-r border-[#d1d5db] px-3 py-2.5 text-sm text-center bg-white sr-only lg:not-sr-only"
          >
            자동
          </td>
          <td
            class="border-r border-[#d1d5db] px-3 py-2.5 text-sm text-center bg-white sr-only lg:not-sr-only"
          >
            33,000,000
          </td>
          <td
            class="border-r border-[#d1d5db] px-3 py-2.5 text-sm text-center bg-white"
          >
            <div class="flex flex-col items-center justify-center gap-0.5">
              <span class="text-xs">오토마트 경기북부보관소</span>
              <span class="flex items-center justify-center gap-1 text-xs">
                <svg
                  class="w-3 h-3"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z"
                  ></path>
                </svg>
                031-968-8092
              </span>
            </div>
          </td>
          <td class="px-3 py-2.5 text-sm text-center bg-white">
            1차 <span class="block lg:hidden">30,000,000</span>
          </td>
        </tr>
        <tr class="border-b border-[#d1d5db] bg-white">
          <td
            class="border-r border-[#d1d5db] px-3 py-2.5 text-sm text-center bg-white"
          >
            <input type="checkbox" class="w-4 h-4" />
          </td>
          <td
            class="border-r border-[#d1d5db] px-3 py-2.5 text-sm text-center bg-white"
          >
            <div class="flex items-center justify-center gap-2">
              <span>1</span>
            </div>
          </td>
          <td
            class="border-r border-[#d1d5db] px-3 py-2.5 text-sm text-center bg-white"
          >
            108모8709
            <span class="block lg:hidden">그랜드스타랙스(GRANDSSTAREX)</span>
          </td>
          <td
            class="border-r border-[#d1d5db] px-3 py-2.5 text-sm text-center bg-white sr-only lg:not-sr-only"
          >
            그랜드스타랙스(GRANDSSTAREX)
          </td>
          <td
            class="border-r border-[#d1d5db] px-3 py-2.5 text-sm text-center bg-white"
          >
            2025
            <span class="block lg:hidden">자동</span>
          </td>
          <td
            class="border-r border-[#d1d5db] px-3 py-2.5 text-sm text-center bg-white sr-only lg:not-sr-only"
          >
            자동
          </td>
          <td
            class="border-r border-[#d1d5db] px-3 py-2.5 text-sm text-center bg-white sr-only lg:not-sr-only"
          >
            33,000,000
          </td>
          <td
            class="border-r border-[#d1d5db] px-3 py-2.5 text-sm text-center bg-white"
          >
            <div class="flex flex-col items-center justify-center gap-0.5">
              <span class="text-xs">오토마트 경기북부보관소</span>
              <span class="flex items-center justify-center gap-1 text-xs">
                <svg
                  class="w-3 h-3"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z"
                  ></path>
                </svg>
                031-968-8092
              </span>
            </div>
          </td>
          <td class="px-3 py-2.5 text-sm text-center bg-white">
            1차 <span class="block lg:hidden">30,000,000</span>
          </td>
        </tr>
        <tr class="border-b border-[#d1d5db] bg-white">
          <td
            class="border-r border-[#d1d5db] px-3 py-2.5 text-sm text-center bg-white"
          >
            <input type="checkbox" class="w-4 h-4" />
          </td>
          <td
            class="border-r border-[#d1d5db] px-3 py-2.5 text-sm text-center bg-white"
          >
            <div class="flex items-center justify-center gap-2">
              <span>1</span>
            </div>
          </td>
          <td
            class="border-r border-[#d1d5db] px-3 py-2.5 text-sm text-center bg-white"
          >
            108모8709
            <span class="block lg:hidden">그랜드스타랙스(GRANDSSTAREX)</span>
          </td>
          <td
            class="border-r border-[#d1d5db] px-3 py-2.5 text-sm text-center bg-white sr-only lg:not-sr-only"
          >
            그랜드스타랙스(GRANDSSTAREX)
          </td>
          <td
            class="border-r border-[#d1d5db] px-3 py-2.5 text-sm text-center bg-white"
          >
            2025
            <span class="block lg:hidden">자동</span>
          </td>
          <td
            class="border-r border-[#d1d5db] px-3 py-2.5 text-sm text-center bg-white sr-only lg:not-sr-only"
          >
            자동
          </td>
          <td
            class="border-r border-[#d1d5db] px-3 py-2.5 text-sm text-center bg-white sr-only lg:not-sr-only"
          >
            33,000,000
          </td>
          <td
            class="border-r border-[#d1d5db] px-3 py-2.5 text-sm text-center bg-white"
          >
            <div class="flex flex-col items-center justify-center gap-0.5">
              <span class="text-xs">오토마트 경기북부보관소</span>
              <span class="flex items-center justify-center gap-1 text-xs">
                <svg
                  class="w-3 h-3"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z"
                  ></path>
                </svg>
                031-968-8092
              </span>
            </div>
          </td>
          <td class="px-3 py-2.5 text-sm text-center bg-white">
            1차 <span class="block lg:hidden">30,000,000</span>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="w-full! md:sr-only flex flex-col gap-2">
      <div
        class="border border-zinc-300 rounded-md flex flex-col overflow-hidden"
      >
        <div class="flex items-center justify-between px-4 py-2">
          <span>1</span>
          <input type="checkbox" class="w-4 h-4" />
        </div>
        <div class="grid grid-cols-3">
          <div class="col-span-1 p-2 bg-zinc-100">
            <span class="text-[11px] text-zinc-600 font-normal">차량명</span>
          </div>
          <div class="col-span-2 p-2 text-center bg-zinc-100">
            <span class="text-base text-zinc-600 font-bold"
              >그랜드스타랙스(GRANDSSTAREX)</span
            >
          </div>
          <div class="col-span-1 p-2 border-r border-zinc-300">
            <span class="text-[11px] text-zinc-600 font-normal">차량번호</span>
          </div>
          <div class="col-span-2 p-2">
            <span class="text-sm text-zinc-600 font-normal">108모8709</span>
          </div>
          <div class="col-span-1 p-2 border-r border-zinc-300">
            <span class="text-[11px] text-zinc-600 font-normal"
              >모델연도 / 변속기</span
            >
          </div>
          <div class="col-span-2 p-2">
            <span class="text-sm text-zinc-600 font-normal">2025 / 자동</span>
          </div>
          <div class="col-span-1 p-2 border-r border-zinc-300">
            <span class="text-[11px] text-zinc-600 font-normal">보관장소</span>
          </div>
          <div class="col-span-2 p-2">
            <span class="text-sm text-zinc-600 font-normal"
              ><div class="flex flex-col gap-0.5">
                <span>오토마트 경기북부보관소</span>
                <span class="flex gap-1 items-center">
                  <svg
                    class="w-3 h-3"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z"
                    ></path>
                  </svg>
                  031-968-8092
                </span>
              </div></span
            >
          </div>
          <div class="col-span-1 p-2 border-r border-zinc-300">
            <span class="text-[11px] text-zinc-600 font-normal">입찰기간</span>
          </div>
          <div class="col-span-2 p-2">
            <span class="text-sm text-zinc-600 font-normal"
              >2025.09.17 ~ 2025.09.19 (12:00)</span
            >
          </div>
          <div class="col-span-1 p-2 border-r border-zinc-300">
            <span class="text-[11px] text-zinc-600 font-normal">예정가</span>
          </div>
          <div class="col-span-2 p-2">
            <span class="text-base font-bold text-[#A10076]">27,800,000</span>
          </div>
        </div>
      </div>
    </div>
    <button
      class="w-full mt-8 border border-[#A10076] text-[#A10076] rounded-md px-18 md:py-4 py-2 text-xl font-semibold md:w-fit self-center"
    >
      검색
    </button>
  </article>
</div>
