<div class="flex flex-col gap-1">
  <section>
    <article class="py-6">
      <div class="flex items-center justify-start gap-1">
        <span class="text-2xl font-semibold text-[#A10076]"
          >입찰신청자 구분</span
        >
      </div>
    </article>

    <article
      class="py-6 border-b border-zinc-300 flex flex-col justify-between gap-4"
    >
      <div class="flex gap-2 items-start">
        <div class="flex items-center justify-center min-w-4 min-h-4 mt-2">
          <div
            class="size-4 text-[#A10076]"
            style="
              mask: url('../assets/img/ic_dot_triangle.svg') no-repeat center;
              -webkit-mask: url('../assets/img/ic_dot_triangle.svg') no-repeat
                center;
              mask-size: contain;
              -webkit-mask-size: contain;
              background-color: currentColor;
            "
          ></div>
        </div>
        <div class="flex flex-col items-start justify-start gap-1">
          <span class="text-lg text-zinc-600"
            ><span class="font-bold">개인</span> : 기타 일반 개인사업자와
            개인(성명/주민번호 [실명인증])
          </span>
        </div>
      </div>

      <div class="flex gap-2 items-start">
        <div class="flex items-center justify-center min-w-4 min-h-4 mt-2">
          <div
            class="size-4 text-[#A10076]"
            style="
              mask: url('../assets/img/ic_dot_triangle.svg') no-repeat center;
              -webkit-mask: url('../assets/img/ic_dot_triangle.svg') no-repeat
                center;
              mask-size: contain;
              -webkit-mask-size: contain;
              background-color: currentColor;
            "
          ></div>
        </div>
        <div class="flex flex-col items-start justify-start gap-1">
          <span class="text-lg text-zinc-600"
            ><span class="font-bold">법인</span> : 법인등록번호가 있는 법인
            (법인등록번호가 있는 매매상사 포함)
          </span>
        </div>
      </div>

      <div class="flex gap-2 items-start">
        <div class="flex items-center justify-center min-w-4 min-h-4 mt-2">
          <div
            class="size-4 text-[#A10076]"
            style="
              mask: url('../assets/img/ic_dot_triangle.svg') no-repeat center;
              -webkit-mask: url('../assets/img/ic_dot_triangle.svg') no-repeat
                center;
              mask-size: contain;
              -webkit-mask-size: contain;
              background-color: currentColor;
            "
          ></div>
        </div>
        <div class="flex flex-col items-start justify-start gap-1">
          <span class="text-lg text-zinc-600"
            ><span class="font-bold">매매상사</span> : 자동차 중개매매업이면서
            법인등록번호가 없는 개인사업자 ([매매상사]는 대표자(사장)
            주민등록번호 입력)
          </span>
        </div>
      </div>

      <div class="flex flex-col pl-4 text-zinc-600">
        <span class="text-sm md:text-lg"
          >입찰참여는 입찰신청은 하였지만 입찰가를 등록하지 않은 차량에 한해
          참여마감시간까지 입찰금액을 등록할 수 있습니다.
        </span>
        <span class="text-sm md:text-lg"
          >입찰금액은 한번만 응찰할 수 있으며 응찰한 후에는 보증금 및 입찰금액의
          [수정/삭제/취소] 가 불가합니다.
        </span>
      </div>
    </article>
  </section>

  <section>
    <article class="grid grid-cols-5 border-b border-zinc-300 py-6">
      <div class="col-span-1 flex items-center justify-center">
        <span>구분</span>
      </div>
      <div class="col-span-4 flex items-center gap-8">
        <div class="flex items-center justify-start gap-2 min-w-15">
          <input type="radio" />
          <span class="text-sm md:text-base">개인</span>
        </div>
        <div class="flex items-center justify-start gap-2 min-w-15">
          <input type="radio" />
          <span class="text-sm md:text-base">법인</span>
        </div>
        <div
          class="sr-only md:not-sr-only flex items-center justify-start gap-2 min-w-15"
        >
          <input type="radio" />
          <span class="text-sm md:text-base"
            >매매상사 (법인 매매상사는 법인으로만 입찰가능, 매매상사로
            입찰불가)</span
          >
        </div>
      </div>
      <div class="col-span-1"></div>
      <div class="col-span-4 flex items-center">
        <input type="radio" />
        <span class="text-sm md:text-base"
          >매매상사 (법인 매매상사는 법인으로만 입찰가능, 매매상사로
          입찰불가)</span
        >
      </div>
    </article>
  </section>
  <section>
    <article
      class="lg:py-6 grid grid-cols-4 lg:grid-cols-8 border-b border-zinc-300"
    >
      <div
        class="col-span-1 py-4 border-b border-zinc-300 lg:py-0 lg:border-b-0 flex items-center justify-center"
      >
        <span class="text-lg">주민등록번호</span>
      </div>
      <div
        class="col-span-3 flex items-center py-4 border-b border-zinc-300 lg:py-0 lg:border-b-0 gap-2"
      >
        <input
          type="number"
          id="phoneNumber"
          class="border border-zinc-300 rounded-md px-2 py-2 md:py-4 text-sm w-full"
        />
        <span class="text-xl">-</span>
        <input
          type="number"
          id="phoneNumber2"
          class="border border-zinc-300 rounded-md px-2 py-2 md:py-4 text-sm w-full"
        />
      </div>

      <div class="col-span-1 flex items-center justify-center">
        <span class="text-lg">비밀번호 </span>
      </div>
      <div class="col-span-3 flex items-center gap-2 py-4 lg:py-0">
        <input
          type="password"
          id="password"
          class="border border-zinc-300 rounded-md px-2 py-2 md:py-4 text-sm w-full"
        />
        <span class="text-sm md:text-lg">(10자리 이내, 특수문자/사용불가)</span>
      </div>
    </article>
  </section>
  <section class="flex items-center justify-center gap-4">
    <button
      class="w-full text-[#A10076] border border-[#A10076] rounded-md md:py-4 md:px-[72px] py-2 px-3 text-xl md:self-center mt-12"
    >
      비밀번호 찾기
    </button>
    <button
      class="bg-[#A10076] w-full text-white rounded-md md:py-4 md:px-[72px] py-2 px-3 text-xl md:self-center mt-12"
    >
      확인
    </button>
  </section>
</div>
