<div class="flex flex-col gap-1">
  <section>
    <ul class="list-disc list-inside text-sm md:text-lg text-zinc-600">
      <li>
        입찰참여는 입찰신청은 하였지만 입찰가를 등록하지 않은 차량에 한해
        참여마감시간까지 입찰금액을 등록할 수 있습니다.
      </li>
      <li>
        입찰금액은 한번만 응찰할 수 있으며 응찰한 후에는 보증금 및 입찰금액의
        [수정/삭제/취소] 가 불가합니다.
      </li>
    </ul>

    <article class="py-6 flex flex-col gap-4">
      <div class="flex items-center justify-start gap-1">
        <span class="text-2xl font-semibold text-[#A10076]"
          >입찰신청자 구분<span class="text-base"
            >(낙찰수수료를 감안하여 입찰금액을 결정하여 입찰하셔야 합니다)</span
          >
        </span>
      </div>

      <div class="grid grid-cols-6 sr-only lg:not-sr-only">
        <div
          class="col-span-1 flex items-center justify-center border-y border-zinc-300 text-zinc-600 bg-zinc-100 py-4"
        >
          <span class="text-lg font-semibold">입찰번호</span>
        </div>
        <div
          class="col-span-1 flex items-center justify-center border-y border-zinc-300 text-zinc-600 bg-zinc-100 py-4"
        >
          <span class="text-lg font-semibold">차량번호</span>
        </div>
        <div
          class="col-span-1 flex items-center justify-center border-y border-zinc-300 text-zinc-600 bg-zinc-100 py-4"
        >
          <span class="text-lg font-semibold">차량명</span>
        </div>
        <div
          class="col-span-1 flex items-center justify-center border-y border-zinc-300 text-zinc-600 bg-zinc-100 py-4"
        >
          <span class="text-lg font-semibold">매각예정가격</span>
        </div>
        <div
          class="col-span-1 flex items-center justify-center border-y border-zinc-300 text-zinc-600 bg-zinc-100 py-4"
        >
          <span class="text-lg font-semibold">공매보증금</span>
        </div>
        <div
          class="col-span-1 flex items-center justify-center border-y border-zinc-300 text-zinc-600 bg-zinc-100 py-4"
        >
          <span class="text-lg font-semibold">입찰금액</span>
        </div>
        <div
          class="col-span-1 flex items-center justify-center border-r border-b border-zinc-300 text-zinc-600 py-4"
        >
          <span class="text-lg">1</span>
        </div>
        <div
          class="col-span-1 flex items-center justify-center border-r border-b border-zinc-300 text-zinc-600 py-4"
        >
          <span class="text-lg">260우2075</span>
        </div>
        <div
          class="col-span-1 flex items-center justify-center border-r border-b border-zinc-300 text-zinc-600 py-4"
        >
          <span class="text-lg">E2004Matic</span>
        </div>
        <div
          class="col-span-1 flex items-center justify-center border-r border-b border-zinc-300 text-zinc-600 py-4"
        >
          <span class="text-lg">43,000,000원</span>
        </div>
        <div
          class="col-span-1 flex items-center justify-center border-r border-b border-zinc-300 text-zinc-600 py-4"
        >
          <span class="text-lg">4,300,000원</span>
        </div>
        <div
          class="col-span-1 flex items-center justify-center border-r border-b border-zinc-300 text-zinc-600 py-4 px-2 gap-1"
        >
          <input
            type="number"
            class="border border-zinc-300 rounded-md px-2 py-2 md:py-4 text-sm w-full"
          /><span class="text-lg">원</span>
        </div>
      </div>

      <div class="grid grid-cols-6 lg:sr-only">
        <div
          class="col-span-2 flex items-center justify-center border-y border-zinc-300 text-zinc-600 bg-zinc-100 py-4"
        >
          <span class="text-base font-semibold">입찰번호</span>
        </div>
        <div
          class="col-span-4 flex items-center justify-start border-r border-y border-zinc-300 text-zinc-600 p-4"
        >
          <span class="text-base">1</span>
        </div>
        <div
          class="col-span-2 flex items-center justify-center border-b border-zinc-300 text-zinc-600 bg-zinc-100 py-4"
        >
          <span class="text-base font-semibold">차량번호</span>
        </div>
        <div
          class="col-span-4 flex items-center justify-start border-r border-b border-zinc-300 text-zinc-600 p-4"
        >
          <span class="text-base">260우2075</span>
        </div>
        <div
          class="col-span-2 flex items-center justify-center border-b border-zinc-300 text-zinc-600 bg-zinc-100 py-4"
        >
          <span class="text-base font-semibold">차량명</span>
        </div>
        <div
          class="col-span-4 flex items-center justify-start border-r border-b border-zinc-300 text-zinc-600 p-4"
        >
          <span class="text-base">E2004Matic</span>
        </div>
        <div
          class="col-span-2 flex items-center justify-center border-b border-zinc-300 text-zinc-600 bg-zinc-100 py-4"
        >
          <span class="text-base font-semibold">매각예정가격</span>
        </div>
        <div
          class="col-span-4 flex items-center justify-start border-r border-b border-zinc-300 text-zinc-600 p-4"
        >
          <span class="text-base">43,000,000원</span>
        </div>
        <div
          class="col-span-2 flex items-center justify-center border-b border-zinc-300 text-zinc-600 bg-zinc-100 py-4"
        >
          <span class="text-base font-semibold">공매보조금</span>
        </div>
        <div
          class="col-span-4 flex items-center justify-start border-r border-b border-zinc-300 text-zinc-600 p-4"
        >
          <span class="text-base">4,300,000원</span>
        </div>
        <div
          class="col-span-2 flex items-center justify-center border-b border-zinc-300 text-zinc-600 bg-zinc-100 py-4"
        >
          <span class="text-base font-semibold">입찰금액</span>
        </div>
        <div
          class="col-span-4 flex items-center justify-start border-r border-b border-zinc-300 text-zinc-600 p-4"
        >
          <input
            type="number"
            class="border border-zinc-300 rounded-md px-2 py-2 md:py-4 text-sm w-full"
          /><span class="text-base">원</span>
        </div>
      </div>

      <span class="text-sm md:text-lg text-zinc-600"
        >입찰참여가 완료되지 않았습니다. 입찰금액을 입력한 후 하단의 입찰참여
        버튼을 클릭/확인하십시오.</span
      >
    </article>
  </section>

  <section class="flex items-center justify-center gap-4">
    <button
      class="bg-[#A10076] w-full text-white rounded-md md:py-4 md:px-[72px] py-2 px-3 text-xl md:self-center"
    >
      입찰참여
    </button>
  </section>
</div>
