<div class="flex flex-col gap-1">
  <section class="gap-8 flex flex-col">
    <article>
      <div class="flex items-center justify-start gap-1">
        <span class="text-2xl font-semibold text-[#A10076]"
          >선택 공고 : [제2022-335호] 입찰 내역</span
        >
      </div>
    </article>
  </section>

  <section class="mt-8 flex flex-col gap-8">
    <table class="w-full! border-collapse text-zinc-600 sr-only md:not-sr-only">
      <thead class="bg-zinc-100">
        <tr class="bg-zinc-100 border-y border-zinc-300">
          <th class="px-3 py-2.5 text-sm font-semibold text-center">
            입찰번호
          </th>
          <th class="px-3 py-2.5 text-sm font-semibold text-center">
            차량번호
          </th>
          <th class="px-3 py-2.5 text-sm font-semibold text-center">차량명</th>
          <th class="px-3 py-2.5 text-sm font-semibold text-center">
            매각예정가격
          </th>
          <th class="px-3 py-2.5 text-sm font-semibold text-center">
            공매보증금
          </th>
          <th class="px-3 py-2.5 text-sm font-semibold text-center">
            입찰금액
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="border-b border-zinc-300 bg-white">
          <td
            class="px-3 py-2.5 text-sm text-center bg-white border-r border-zinc-300"
          >
            <span>1</span>
          </td>
          <td
            class="px-3 py-2.5 text-sm text-center bg-white border-r border-zinc-300"
          >
            <span>260우2075</span>
          </td>
          <td
            class="px-3 py-2.5 text-sm text-center bg-white border-r border-zinc-300"
          >
            <span>E2004Matic</span>
          </td>
          <td
            class="px-3 py-2.5 text-sm text-center bg-white border-r border-zinc-300"
          >
            <span>43,000,000원</span>
          </td>
          <td
            class="px-3 py-2.5 text-sm text-center bg-white border-r border-zinc-300"
          >
            <span>4,300,000원</span>
          </td>
          <td
            class="text-[#A10076] px-3 py-2.5 text-sm text-center bg-white border-r border-zinc-300"
          >
            <span>입찰 미참여</span>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="w-full lg:sr-only flex flex-col">
      <div class="grid grid-cols-3 border-t border-zinc-300">
        <div
          class="bg-zinc-100 flex items-center justify-center col-span-1 py-4 border-b border-zinc-300"
        >
          <span>입찰번호</span>
        </div>
        <div
          class="col-span-2 flex items-center justify-center py-4 border-b border-zinc-300"
        >
          <span>1</span>
        </div>
        <div
          class="bg-zinc-100 flex items-center justify-center col-span-1 py-4 border-b border-zinc-300"
        >
          <span>차량번호</span>
        </div>
        <div
          class="col-span-2 flex items-center justify-center py-4 border-b border-zinc-300"
        >
          <span>1111</span>
        </div>
        <div
          class="bg-zinc-100 flex items-center justify-center col-span-1 py-4 border-b border-zinc-300"
        >
          <span>차량명</span>
        </div>
        <div
          class="col-span-2 flex items-center justify-center py-4 border-b border-zinc-300"
        >
          <span>sss</span>
        </div>
        <div
          class="bg-zinc-100 flex items-center justify-center col-span-1 py-4 border-b border-zinc-300"
        >
          <span>매각예정가격</span>
        </div>
        <div
          class="col-span-2 flex items-center justify-center py-4 border-b border-zinc-300"
        >
          <span>2022</span>
        </div>
        <div
          class="bg-zinc-100 flex items-center justify-center col-span-1 py-4 border-b border-zinc-300"
        >
          <span>공매보조금</span>
        </div>
        <div
          class="col-span-2 flex items-center justify-center py-4 border-b border-zinc-300"
        >
          <span>1000000</span>
        </div>
        <div
          class="bg-zinc-100 flex items-center justify-center col-span-1 py-4 border-b border-zinc-300"
        >
          <span>입찰금액</span>
        </div>
        <div
          class="col-span-2 flex items-center justify-center py-4 border-b border-zinc-300"
        >
          <span class="text-[#A10076]">입찰 미참여</span>
        </div>
      </div>
    </div>
  </section>
  <button
    class="bg-zinc-100 w-full md:w-fit text-zinc-600 border border-zinc-300 rounded-md md:py-4 md:px-[72px] py-2 px-3 text-xl md:self-center mt-12"
  >
    돌아가기
  </button>
</div>
